
block vars
    - var title='Title'

extends ../partials/layout-wrap

block content
    include ../partials/header-inner
    include  ../partials/sended

    main.life
        .fullpage.slide-content
            .section.inner-overlay.js--hide-overlay
                .inner-content.life-overlay
                    .width-wrap
                        h2.decor Vr life
                        span.title Играй, чтобы побеждать!
                        span.move Листай

        section.fixed-content
            .life-table-wrap.inner-content
                .life-slider
                    .life-slider--el.background1
                    .life-slider--el.background2
                    .life-slider--el.background3

                .width-wrap
                        .justifyed.life-title
                            h2 VR Таблица

                            .params-date
                                div(data-action="../js/ajax/load-team.php" data-method="post").calendar-wrap
                                    .calendar.grid-item.calendar-date
                                        span.prev 01
                                        span.current 02
                                        span.next 03

                                    .calendar.grid-item.calendar-month
                                        span.prev сентябрь
                                        span.current октябрь
                                        span.next ноябрь

                                    .calendar.grid-item.calendar-year
                                        span.prev 2018
                                        span.current 2018
                                        span.next 2019

                                <!-- НЕ СТАВИТЬ в name значетие date, иначе при фокусе появляется выпадающий список с вариантами -->
                                input(type="text" name="dat" readonly data-action="../js/ajax/load-team.php" data-method="post").inp-date.js--inp-date.js--load-life

                        .team-list.noscroll-wrap.scrollbar
                            ul.life-table
                                li.justifyed.life-table-th
                                    .life-table--row
                                        span.full-height Игрок/команда
                                    .life-table--row
                                        span.full-height Игра
                                    .life-table--row
                                        span.full-height Время
                                    .life-table--row
                                        span.full-height Итог

                                li.justifyed
                                    .life-table--row
                                        span Какое-нибудь длинное, очень длинное, очень-очень длинное название команды
                                    .life-table--row
                                        span.full-height Space Pirate Trainer
                                    .life-table--row
                                        span.full-height 60 мин
                                    .life-table--row
                                        span.full-height 7/10

                                li.justifyed
                                    .life-table--row
                                        span.full-height Какое-нибудь длинное, очень длинное, очень-очень длинное название команды
                                    .life-table--row
                                        span PayDay 2
                                        span Assasin’s Creed III
                                    .life-table--row
                                        span 60 мин
                                        span 60000 мин
                                    .life-table--row
                                        span 2/10
                                        span 8/10

                                li.justifyed
                                    .life-table--row
                                        span.full-height Какое-нибудь длинное, очень длинное, очень-очень длинное название команды
                                    .life-table--row
                                        span PayDay 2
                                        span Assasin’s Creed III
                                    .life-table--row
                                        span 60 мин
                                        span 60000 мин
                                    .life-table--row
                                        span 2/10
                                        span 8/10

                                li.justifyed
                                    .life-table--row
                                        span Какое-нибудь длинное, очень длинное, очень-очень длинное название команды
                                    .life-table--row
                                        span.full-height Space Pirate Trainer
                                    .life-table--row
                                        span.full-height 60 мин
                                    .life-table--row
                                        span.full-height 7/10

                                li.justifyed
                                    .life-table--row
                                        span.full-height Какое-нибудь длинное, очень длинное, очень-очень длинное название команды
                                    .life-table--row
                                        span PayDay 2
                                        span Assasin’s Creed III
                                    .life-table--row
                                        span 60 мин
                                        span 60000 мин
                                    .life-table--row
                                        span 2/10
                                        span 8/10

                                li.justifyed
                                    .life-table--row
                                        span.full-height Какое-нибудь длинное, очень длинное, очень-очень длинное название команды
                                    .life-table--row
                                        span PayDay 2
                                        span Assasin’s Creed III
                                    .life-table--row
                                        span 60 мин
                                        span 60000 мин
                                    .life-table--row
                                        span 2/10
                                        span 8/10

                                li.justifyed
                                    .life-table--row
                                        span Какое-нибудь длинное, очень длинное, очень-очень длинное название команды
                                    .life-table--row
                                        span.full-height Space Pirate Trainer
                                    .life-table--row
                                        span.full-height 60 мин
                                    .life-table--row
                                        span.full-height 7/10

                                li.justifyed
                                    .life-table--row
                                        span.full-height Какое-нибудь длинное, очень длинное, очень-очень длинное название команды
                                    .life-table--row
                                        span PayDay 2
                                        span Assasin’s Creed III
                                    .life-table--row
                                        span 60 мин
                                        span 60000 мин
                                    .life-table--row
                                        span 2/10
                                        span 8/10

                                li.justifyed
                                    .life-table--row
                                        span.full-height Какое-нибудь длинное, очень длинное, очень-очень длинное название команды
                                    .life-table--row
                                        span PayDay 2
                                        span Assasin’s Creed III
                                    .life-table--row
                                        span 60 мин
                                        span 60000 мин
                                    .life-table--row
                                        span 2/10
                                        span 8/10

                                li.justifyed
                                    .life-table--row
                                        span Какое-нибудь длинное, очень длинное, очень-очень длинное название команды
                                    .life-table--row
                                        span.full-height Space Pirate Trainer
                                    .life-table--row
                                        span.full-height 60 мин
                                    .life-table--row
                                        span.full-height 7/10

                                li.justifyed
                                    .life-table--row
                                        span.full-height Какое-нибудь длинное, очень длинное, очень-очень длинное название команды
                                    .life-table--row
                                        span PayDay 2
                                        span Assasin’s Creed III
                                    .life-table--row
                                        span 60 мин
                                        span 60000 мин
                                    .life-table--row
                                        span 2/10
                                        span 8/10

                                li.justifyed
                                    .life-table--row
                                        span.full-height Какое-нибудь длинное, очень длинное, очень-очень длинное название команды
                                    .life-table--row
                                        span PayDay 2
                                        span Assasin’s Creed III
                                    .life-table--row
                                        span 60 мин
                                        span 60000 мин
                                    .life-table--row
                                        span 2/10
                                        span 8/10


    <!-- Этот скрипт на сервере всегда вырезать -->
//    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../img/temp/price.jpg",opacity: 0.5,top: 0,left: 0,center: false,clip: false,show: false});});