
block vars
    - var title='Title'

extends ../partials/layout

block content
    include ../partials/header-inner
    include  ../partials/sended

    section(id="booking").inner-popup
        a(href="#booking").close-popup.js--close-block

        form(action="../js/ajax/send.php" method="post").main-form.width-wrap
            input(type="eq").hidden-block.inp-eq

            h3 мобильный VR

            .form-content
                h2 Введите телефон
                    i и&nbsp;комментарий к&nbsp;заявке

                .inputs
                    .justifyed
                        input(type="text" name="name" placeholder="Имя").inp.required
                        input(type="text" name="phone" placeholder="+7 (---) --- -- --").inp.inp-phone.required

                    textarea(name="message" placeholder="Комментарий").inp

            a(href="").btn.btn-red.js--form-submit Отправить

    main.product
        .fullpage.slide-content
            .section.inner-overlay.js--hide-overlay
                .inner-content.product-overlay
                    .width-wrap
                        h2.decor Сертификаты
                        span.title Подари своей бабушке
                            =" "
                            i будущее!

                        span.move Листай

        section.fixed-content
            .tabs
                ul.tabs--caption
                    li.active каталог
                    li условия

                .tabs--content.active
                    .inner-slider
                        .inner-slider--el
                            .inner-content.bg-nub
                                .width-wrap
                                    h2.decor Сертификат “Нуб”

                                    .one-half
                                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do&nbsp;eiusmod tempor incididunt ut&nbsp;labore et&nbsp;dolore magna aliqua. Ut&nbsp;enim&nbsp;ad

                                        ul.inner-table
                                            li.justifyed.border
                                                span Оборудование:
                                                span
                                                    strong Шлем, Платформа
                                            li.justifyed.border
                                                span Длительность:
                                                span
                                                    strong 30 мин
                                            li.justifyed
                                                span игры:
                                                span
                                                    strong Любые

                                        .inner-sertificate.justifyed
                                            .one-half
                                                span.inner-sertificate-price.fs20 500 руб

                                            .one-half
                                                a(href="#booking" data-eq="Сертификат Нуб").btn.btn-red.js--open-block.js--set-eq Купить

                        .inner-slider--el
                            .inner-content.bg-profi
                                .width-wrap
                                    h2.decor Сертификат “Бывалый”

                                    .one-half

                                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do&nbsp;eiusmod tempor incididunt ut&nbsp;labore et&nbsp;dolore magna aliqua. Ut&nbsp;enim&nbsp;ad

                                        ul.inner-table
                                            li.justifyed.border
                                                span Оборудование:
                                                span
                                                    strong Шлем, Платформа
                                            li.justifyed.border
                                                span Длительность:
                                                span
                                                    strong 60 мин
                                            li.justifyed
                                                span игры:
                                                span
                                                    strong Любые

                                        .inner-sertificate.justifyed
                                            .one-half
                                                span.inner-sertificate-price.fs20 1000 руб

                                            .one-half
                                                a(href="#booking" data-eq="Сертификат Бывалый").btn.btn-red.js--open-block.js--set-eq Купить

                .tabs--content
                    .inner-content.inner-content-text
                        .width-wrap.scroll-wrap
                            .scroll-content.scrollbar
                                ul.product-list
                                    li
                                        .content
                                            h3 Срок годности
                                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do&nbsp;eiusmod tempor incididunt ut&nbsp;labore et&nbsp;dolore magna aliqua. Ut&nbsp;enim ad&nbsp;minim veniam, quis nostrud exercitation ullamco laboris nisi ut&nbsp;aliquip ex&nbsp;ea&nbsp;commodo consequat. Duis aute irure dolor&nbsp;in
                                    li
                                        .content
                                            h3 Возврат
                                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do&nbsp;eiusmod tempor incididunt ut&nbsp;labore et&nbsp;dolore magna aliqua. Ut&nbsp;enim ad&nbsp;minim veniam, quis nostrud exercitation ullamco laboris nisi ut&nbsp;aliquip ex&nbsp;ea&nbsp;commodo consequat. Duis aute irure dolor&nbsp;in
                                    li
                                        .content
                                            h3 Активация
                                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do&nbsp;eiusmod tempor incididunt ut&nbsp;labore et&nbsp;dolore magna aliqua. Ut&nbsp;enim ad&nbsp;minim veniam, quis nostrud exercitation ullamco laboris nisi ut&nbsp;aliquip ex&nbsp;ea&nbsp;commodo consequat. Duis aute irure dolor&nbsp;in
                                    li
                                        .content
                                            h3 Срок годности
                                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do&nbsp;eiusmod tempor incididunt ut&nbsp;labore et&nbsp;dolore magna aliqua. Ut&nbsp;enim ad&nbsp;minim veniam, quis nostrud exercitation ullamco laboris nisi ut&nbsp;aliquip ex&nbsp;ea&nbsp;commodo consequat. Duis aute irure dolor&nbsp;in
                                    li
                                        .content
                                            h3 Возврат
                                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do&nbsp;eiusmod tempor incididunt ut&nbsp;labore et&nbsp;dolore magna aliqua. Ut&nbsp;enim ad&nbsp;minim veniam, quis nostrud exercitation ullamco laboris nisi ut&nbsp;aliquip ex&nbsp;ea&nbsp;commodo consequat. Duis aute irure dolor&nbsp;in
                                    li
                                        .content
                                            h3 Активация
                                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do&nbsp;eiusmod tempor incididunt ut&nbsp;labore et&nbsp;dolore magna aliqua. Ut&nbsp;enim ad&nbsp;minim veniam, quis nostrud exercitation ullamco laboris nisi ut&nbsp;aliquip ex&nbsp;ea&nbsp;commodo consequat. Duis aute irure dolor&nbsp;in
