.price
  display block
  width 100%
  height inherit
  position relative

  .bg-helmet
    background url(../img/bg--price-1.jpg) no-repeat 50% 50%
    background-size cover

    @media tablet
      background url(../img/bg--price-1-mob.jpg) no-repeat 50% 50%
      background-size cover

  .bg-platform
    background url(../img/bg--price-2.jpg) no-repeat 50% 50%
    background-size cover

    @media tablet
      background url(../img/bg--price-2-mob.jpg) no-repeat 50% 50%
      background-size cover

  .bg-lease
    background url(../img/bg--price-3.jpg) no-repeat 50% 50%
    background-size cover

    @media tablet
      background url(../img/bg--price-3-mob.jpg) no-repeat 50% 50%
      background-size cover

  .bg-mobile
    background url(../img/bg--price-4.jpg) no-repeat 50% 50%
    background-size cover

    @media tablet
      background url(../img/bg--price-4-mob.jpg) no-repeat 50% 50%
      background-size cover

  .price-overlay
    background url(../img/bg--price-top.png) no-repeat 50% 50%
    background-size cover

    @media tablet
      background url(../img/bg--price-top-mob.png) no-repeat 50% 50%
      background-size cover

  .inner-content-text
    .price-action

      li
        display block
        margin-bottom 15vh

        &:last-child
          margin-bottom 0

        @media netbook
          margin-bottom 8vh

        .one-half
          margin-bottom 0

      &--header
        border-bottom 1px solid rgba(255,255,255,0.12)
        padding-bottom 2vh

        @media tablet
          padding-bottom 1.5vh
          margin-bottom 1vh

        @media mobile
          padding-bottom 1vh
          margin-bottom 1vh

        h3
          display inline-block
          vertical-align top

          //@media tablet
          //  font-family $fExo

          @media mobile
            font-size 14px
            line-height 18px

        span
          display inline-block
          vertical-align top
          font-size 16px
          line-height 26px
          font-family $Exo_el
          color #808080

          @media mobile
            font-size 12px
            line-height 18px

      &--content
        align-content stretch
        align-items stretch
        margin-bottom 2vh
        position relative

        .one-half
          display inline-block
          vertical-align top
          width 440px
          min-height 125px

          @media netbook
            min-height 100px

          @media tablet
            min-height 90px

          @media mobile
            min-height 50px

          &:first-child
            @media netbook
              width 60%

            @media tablet
              width 70%

            @media mobile
              width 65%

          &:last-child
            display inline-flex
            align-content center
            align-items center
            justify-content center
            border-bottom 1px solid rgba(255,255,255,0.12)

            @media netbook
              width 40%

            @media tablet
              width 25%
              border none

            @media mobile
              width 35%

            span.val
              display block
              font-size 64px
              line-height 64px
              font-family $fExo

              @media tablet
                color $cRed
                font-size 46px
                line-height 46px

              @media mobile
                font-size 30px
                line-height 30px

          p
            font-size 14px
            line-height 21px
            margin-bottom 0
            padding-right 0

            &:first-child
              padding-top 2vh

            @media mobile
              font-size 13px
              line-height 16px

      &--bottom
        .one-half
          display inline-block
          vertical-align top
          width 470px

          @media tablet
            padding-top 5px

          &:first-child
            @media netbook
              width 60%

            @media tablet
              width 25%

            @media mobile
              width 25%

          &:last-child
            @media netbook
              width 40%

            @media tablet
              border-top 1px solid rgba(255,255,255,0.13)
              width 75%
              text-align center

          span
            display inline-block
            vertical-align top
            font-size 16px
            line-height 26px
            font-family $fExo_el
            color #808080

            @media mobile
              font-size 10px
              line-height 18px


