block vars
    - var title='Title'

extends ../partials/layout

block content
    include ../partials/header-inner

    main.index
        include ../partials/sended

        .fullpage.slide-content
            .section.index-promo.js--hide-overlay
                .width-wrap

                    .content
                        ul.index-about.desktop
                            li 1 - 6 игроков
                            li виртуальные игры
                            li 100+ игр
                            li vr платформы и шлемы
                            li полное погружение

                        ul.index-about.mobile
                            li vr платформы и шлемы
                            li полное погружение
                            li виртуальные игры
                            li 1 - 6 игроков
                            li 100+ игр

                        h2.decor evolution
                        span.title Будущее наступило...

                        .index-links
                            a(href="#booking").btn.btn-red.js--open-block Бронировать
                            a(href="#demo").btn.btn-white-border.js--open-block Испытать бесплатно

                span.move Листай

        section(id="box").fixed-content.index-info.section
            .inner-content.inner-content-text.js--show-overlay
                div(id="l1").rect-parallax
                    img(src="../img/img--index-parallax.png" alt /)

                .width-wrap.scroll-wrap
                    .scroll-content.scrollbar
                        .rectangles
                            .rect1
                            .rect2
                            .rect2
                            .rect3
                            .rect4

                        h2.decor Evolution vr
                        span.fs20.title Виртуальная реальность
                            i впечатляет, удивляет, ошеломляет!

                        .content-text
                            .rect1

                            h3 Lorem Ipsum
                            p Lor sit amet, consectetur adipisicing elit, sed do&nbsp;eiusmod tempor incididunt ut&nbsp;labore et&nbsp;dolore magna aliqua. Ut&nbsp;enim ad&nbsp;minim veniam, quis nostrud exercitation ullamco laboris nisi ut&nbsp;aliquip ex&nbsp;ea&nbsp;commodo consequat. Duis aute irure dolor in&nbsp;reprehenderit in&nbsp;voluptate velit esse cillum dolore eu&nbsp;fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in&nbsp;culpa qui officia deserunt mollit anim id&nbsp;est laborum. Sed ut&nbsp;perspiciatis unde omnis iste natus error sit voluptatem accusantium

    section(id="demo").inner-popup.index-demo
        a(href="#demo").close-popup.js--close-block

        form(action="../js/ajax/send.php" method="post").main-form.width-wrap
            h3 Бесплатная игра

            .form-content
                h2 Введите
                    i свои Данные

                .form-input.justifyed
                    input(type="text" name="name" placeholder="Имя").inp.required
                    input(type="text" name="phone" placeholder="+7 (---) --- -- --").inp.inp-phone.required
                    input(type="text" name="mail" placeholder="E-Mail").inp.required.inp-mail

                span.fs20 Мы перезвоним Вам
                    i для подтверждения заявки

            a(href="").btn.btn-red.js--form-submit отправить



    include ../partials/booking
