
block vars
    - var title='Title'

extends ../partials/layout

block content
    include ../partials/header-inner
    include  ../partials/sended

    section(id="booking").inner-popup
        a(href="#booking").close-popup.js--close-block

        form(action="../js/ajax/send.php" method="post").main-form.width-wrap

            h3 заказать звонок

            .form-content
                h2 Введите свои
                    i данные

                .inputs
                    .justifyed
                        input(type="text" name="name" placeholder="Имя").inp.required
                        input(type="text" name="phone" placeholder="+7 (---) --- -- --").inp.inp-phone.required

            a(href="").btn.btn-red.js--form-submit Отправить

    main.map
        .fullpage.slide-content
            .section.inner-overlay.js--hide-overlay
                .inner-content.map-overlay
                    .width-wrap
                        h2.decor Контакты
                        span.title Играй на дизай-заводе “Флакон!”
                            = " "
                            i 10 мин от ст.Дмитровская

                        span.move Листай

        section.fixed-content
            .tabs
                ul.tabs--caption
                    li.active карта
                    li как найти

                .tabs--content.active
                    div(id="map").map-container
                    a(href="#booking").btn.btn-red.js--open-block Заказать звонок

                    .contacts-panel
                        a.open-panel.js--toggle-panel

                        .contacts-panel--el
                            .icon.icon-subway.js--toggle-panel
                                img(src="../img/icon--subway.svg" alt /)
                            span ст. Дмитровская
                        .contacts-panel--el
                            .icon.icon-subway.js--toggle-panel
                                img(src="../img/icon--location.svg" alt /)
                            span Новодмитровская ул. 36, стр 3
                        .contacts-panel--el
                            .icon.icon-subway.js--toggle-panel
                                img(src="../img/icon--calendar.svg" alt /)
                            span 10:00 - 22:00 пн-вс
                        .contacts-panel--el
                            .icon.icon-subway.js--toggle-panel
                                img(src="../img/icon--phone.svg" alt /)
                            a(href="tel:+7 499 450 67 87") +7 499 450 67 87

                        .contacts-panel--el
                            .icon.icon-subway.js--toggle-panel
                                img(src="../img/icon--mail.svg" alt /)
                            a(href="mailto:info@evolutionvr.ru") info@evolutionvr.ru

                .tabs--content
                    .inner-content.inner-content-text
                        .width-wrap.scroll-wrap
                            .scroll-content.scrollbar
                                ul.find-list
                                    li
                                        .content
                                            h3 Как идти до флакона
                                            p Первый вагон из&nbsp;центра. Из&nbsp;стекляных дверей налево наоево. На&nbsp;улице&nbsp;&mdash; прямо по&nbsp;Такой-то улице. Слева круасаны, вам направо.
                                    li
                                        .content
                                            h3 Как нас найти на "Флаконе"
                                            p Идете прямо. Прямо перед вами здание с&nbsp;вывеской. Проходите его насквозь. Выходите на&nbsp;улицу и&nbsp;прямо перед вами дверь с&nbsp;вывеской &laquo;Evolution&nbsp;VR&raquo;

                                    li
                                        .content
                                            h3 Как нас найти на "Флаконе"
                                            p Идете прямо. Прямо перед вами здание с&nbsp;вывеской. Проходите его насквозь. Выходите на&nbsp;улицу и&nbsp;прямо перед вами дверь с&nbsp;вывеской &laquo;Evolution&nbsp;VR&raquo;

                                    li
                                        .content
                                            h3 Как идти до флакона
                                            p Первый вагон из&nbsp;центра. Из&nbsp;стекляных дверей налево наоево. На&nbsp;улице&nbsp;&mdash; прямо по&nbsp;Такой-то улице. Слева круасаны, вам направо.
                                    li
                                        .content
                                            h3 Как нас найти на "Флаконе"
                                            p Идете прямо. Прямо перед вами здание с&nbsp;вывеской. Проходите его насквозь. Выходите на&nbsp;улицу и&nbsp;прямо перед вами дверь с&nbsp;вывеской &laquo;Evolution&nbsp;VR&raquo;

                                    li
                                        .content
                                            h3 Как нас найти на "Флаконе"
                                            p Идете прямо. Прямо перед вами здание с&nbsp;вывеской. Проходите его насквозь. Выходите на&nbsp;улицу и&nbsp;прямо перед вами дверь с&nbsp;вывеской &laquo;Evolution&nbsp;VR&raquo;

                            a(href="../img/bg--price-1.png" data-fancybox="map").btn.btn-red Фотогид

                            .hidden-block.photos
                                a(href="../img/bg--price-2.png" data-fancybox="map")
                                a(href="../img/bg--price-3.png" data-fancybox="map")
                                a(href="../img/bg--price-4.png" data-fancybox="map")

    <!-- Этот скрипт на сервере всегда вырезать -->
//    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../img/temp/price.jpg",opacity: 0.5,top: 0,left: 0,center: false,clip: false,show: false});});