.product
  display block
  width 100%
  height 100%
  position relative

  .bg-nub
    background url(../img/bg--product-1.jpg) no-repeat 50% 50%
    background-size cover

    @media tablet
      background url(../img/bg--product-1-mob.jpg) no-repeat 50% 50%
      background-size cover

  .bg-profi
    background url(../img/bg--product-2.jpg) no-repeat 50% 50%
    background-size cover

    @media tablet
      background url(../img/bg--product-2-mob.jpg) no-repeat 50% 50%
      background-size cover

  .product-overlay
    background url(../img/bg--product-top.png) no-repeat 50% 50%
    background-size cover

    @media tablet
      background url(../img/bg--product-top-mob.png) no-repeat 50% 50%
      background-size cover

  .inner-table
    padding-bottom 10vh

  .inner-sertificate
    flex-flow nowrap

    .one-half
      width 50%

      span
        display block
        text-align center
        border-top 1px solid rgba(255,255,255,0.13)
        height 53px
        line-height 50px
        font-family $fExo
        width 100%

        @media tablet
          font-size 26px
          line-height 32px
          padding 20px 0

        @media mobile
          font-size 14px
          line-height 16px
          padding 10px 0

      .btn
        display block
        width 100%

        @media mobile
          font-size 14px
          line-height 16px
          padding 10px 0

  .product-list
    width 100%

    li
      display block
      margin-bottom 5vh

      @media tablet
        margin-bottom 3vh

      @media mobile
        width 100%
        overflow hidden

      &:last-child
        @media tablet
          margin-bottom 0

      &:nth-child(odd)
        text-align right

      .content
        width 400px
        display inline-block
        vertical-align top

        @media tablet
          width 500px

        @media mobile
          width 100%
          direction block

        h3
          margin-bottom 30px

          @media netbook
            margin-bottom 10px

          @media mobile
            margin-bottom 1.5vh

        p
          font-size 14px
          line-height 21px

          @media mobile
            font-size 12px
            line-height 16px





