
block vars
    - var title='Title'

extends ../partials/layout-wrap

block content
    include ../partials/header-inner
    include  ../partials/sended

    main.space
        .fullpage.slide-content
            .section
                .inner-content
                    div(id="boxspace").inner-overlay.bg-black

                        .inner-overlay-middle.space-overlay
                            div(id="s1").space-parallax
                                img(src="../img/img--space-parallax-1.png" alt /)
                            div(id="s2").space-parallax
                                img(src="../img/img--space-parallax-2.png" alt /)
                            div(id="s3").space-parallax
                                img(src="../img/img--space-parallax-3.png" alt /)
                            div(id="s4").space-parallax
                                img(src="../img/img--space-parallax-4.png" alt /)
                            div(id="s5").space-parallax
                                img(src="../img/img--space-parallax-5.png" alt /)
                            div(id="s6").space-parallax
                                img(src="../img/img--space-parallax-6.png" alt /)
                            div(id="s7").space-parallax
                                img(src="../img/img--space-parallax-7.png" alt /)
                            div(id="s8").space-parallax
                                img(src="../img/img--space-parallax-8.png" alt /)
                            div(id="s9").space-parallax
                                img(src="../img/img--space-parallax-9.png" alt /)

                        .space-slider
                            .space-slider--el
                                .space-content
                                    span.number 2
                                    span платформы виртуального
                                        i погружения
                            .space-slider--el
                                .space-content
                                    span.number 6
                                    span комплектов современного
                                        i оборудования HTC VIVE
                            .space-slider--el
                                .space-content
                                    span более
                                    span.number 100
                                    span игр
                                        i всех жанров
                            .space-slider--el
                                .space-content
                                    span Пространство
                                    span.number 100
                                    span квадратных метров
                                        i для свободы перемещений

                    span.move.move-space Листай вниз

            .section.inner-overlay.js--hide-overlay
                .inner-content.space-overlay-top
                    .width-wrap
                        h2.decor Vr space
                        span.title Почувствуй будущее...

                        span.move Листай

        section.fixed-content
            .space-galery.inner-content

                ul(id="filters").space-filters
                    li(data-filter="*").active.filter Все
                    li(data-filter=".photo").filter Фото
                    li(data-filter=".video").filter Видео

                .width-wrap.scroll-wrap
                    .scroll-content.scrollbar
                        ul(id="space-grid").space-content-grid.space-grid
                            li.space-grid-el.photo
                                a(href="../img/img--space-photo-1.jpg" data-fancybox="space")
                                    img(src="../img/img--space-photo-1.jpg" alt /)
                                    time 20/02/18
                            li.space-grid-el.video
                                a(href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" data-fancybox="")
                                    img(src="../img/img--space-video-1.jpg" alt /)
                            li.space-grid-el.photo
                                a(href="../img/img--space-photo-1.jpg" data-fancybox="space")
                                    img(src="../img/img--space-photo-2.jpg" alt /)
                                    time 20/02/18
                            li.space-grid-el.photo
                                a(href="../img/img--space-photo-1.jpg" data-fancybox="space")
                                    img(src="../img/img--space-photo-3.jpg" alt /)
                                    time 20/02/18
                            li.space-grid-el.photo
                                a(href="../img/img--space-photo-1.jpg" data-fancybox="space")
                                    img(src="../img/img--space-photo-4.jpg" alt /)
                                    time 20/02/18
                            li.space-grid-el.photo
                                a(href="../img/img--space-photo-1.jpg" data-fancybox="space")
                                    img(src="../img/img--space-photo-5.jpg" alt /)
                                    time 20/02/18
                            li.space-grid-el.photo
                                a(href="../img/img--space-photo-1.jpg" data-fancybox="space")
                                    img(src="../img/img--space-photo-6.jpg" alt /)
                                    time 20/02/18
                            li.space-grid-el.photo
                                a(href="../img/img--space-photo-1.jpg" data-fancybox="space")
                                    img(src="../img/img--space-photo-7.jpg" alt /)
                                    time 20/02/18
                            li.space-grid-el.photo
                                a(href="../img/img--space-photo-1.jpg" data-fancybox="space")
                                    img(src="../img/img--space-photo-8.jpg" alt /)
                                    time 20/02/18
                            li.space-grid-el.photo
                                a(href="../img/img--space-photo-1.jpg" data-fancybox="space")
                                    img(src="../img/img--space-photo-9.jpg" alt /)
                            li.space-grid-el.photo
                                a(href="../img/img--space-photo-1.jpg" data-fancybox="space")
                                    img(src="../img/img--space-photo-10.jpg" alt /)
                            li.space-grid-el.photo
                                a(href="../img/img--space-photo-1.jpg" data-fancybox="space")
                                    img(src="../img/img--space-photo-11.jpg" alt /)
                            li.space-grid-el.photo
                                a(href="../img/img--space-photo-1.jpg" data-fancybox="space")
                                    img(src="../img/img--space-photo-12.jpg" alt /)
                            li.space-grid-el.photo
                                a(href="../img/img--space-photo-1.jpg" data-fancybox="space")
                                    img(src="../img/img--space-photo-13.jpg" alt /)
                            li.space-grid-el.photo
                                a(href="../img/img--space-photo-1.jpg" data-fancybox="space")
                                    img(src="../img/img--space-photo-1.jpg" alt /)
                            li.space-grid-el.photo
                                a(href="../img/img--space-photo-1.jpg" data-fancybox="space")
                                    img(src="../img/img--space-photo-2.jpg" alt /)
                            li.space-grid-el.photo
                                a(href="../img/img--space-photo-1.jpg" data-fancybox="space")
                                    img(src="../img/img--space-photo-3.jpg" alt /)
                            li.space-grid-el.photo
                                a(href="../img/img--space-photo-1.jpg" data-fancybox="space")
                                    img(src="../img/img--space-photo-4.jpg" alt /)
                            li.space-grid-el.photo
                                a(href="../img/img--space-photo-1.jpg" data-fancybox="space")
                                    img(src="../img/img--space-photo-5.jpg" alt /)
                            li.space-grid-el.photo
                                a(href="../img/img--space-photo-1.jpg" data-fancybox="space")
                                    img(src="../img/img--space-photo-6.jpg" alt /)
                            li.space-grid-el.photo
                                a(href="../img/img--space-photo-1.jpg" data-fancybox="space")
                                    img(src="../img/img--space-photo-7.jpg" alt /)
                            li.space-grid-el.photo
                                a(href="../img/img--space-photo-1.jpg" data-fancybox="space")
                                    img(src="../img/img--space-photo-8.jpg" alt /)
                            li.space-grid-el.photo
                                a(href="../img/img--space-photo-1.jpg" data-fancybox="space")
                                    img(src="../img/img--space-photo-9.jpg" alt /)
                            li.space-grid-el.photo
                                a(href="../img/img--space-photo-1.jpg" data-fancybox="space")
                                    img(src="../img/img--space-photo-10.jpg" alt /)
                            li.space-grid-el.photo
                                a(href="../img/img--space-photo-1.jpg" data-fancybox="space")
                                    img(src="../img/img--space-photo-11.jpg" alt /)
                            li.space-grid-el.photo
                                a(href="../img/img--space-photo-1.jpg" data-fancybox="space")
                                    img(src="../img/img--space-photo-12.jpg" alt /)
                            li.space-grid-el.photo
                                a(href="../img/img--space-photo-1.jpg" data-fancybox="space")
                                    img(src="../img/img--space-photo-13.jpg" alt /)


    <!-- Этот скрипт на сервере всегда вырезать -->
//    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../img/temp/price.jpg",opacity: 0.5,top: 0,left: 0,center: false,clip: false,show: false});});