.map
  display block
  width 100%
  height 100%
  position relative

  .width-wrap.scroll-wrap
    padding-bottom 15vh

  .map-overlay
    background url(../img/bg--map-top.png) no-repeat 50% 50%
    background-size cover

    @media mobile
      background url(../img/bg--map-top-mob.png) no-repeat 50% 50%
      background-size cover

    .btn
      width 325px
      margin 0 auto
      display block
      position absolute
      bottom 5vh
      left 50%
      transform translateX(-50%)

      @media tablet
        padding 20px 0

      @media mobile
        width 270px
        padding 10px 0
        left 25px
        right 25px

  .map-container
    position absolute
    left 0
    top 0
    right 0
    bottom 0

  .btn
    position absolute
    bottom 5vh
    left 50%
    transform translateX(-50%)
    z-index 5

    @media tablet
      padding 20px 0
      width 325px

    @media mobile
      width 270px
      display block
      padding 10px 0

  .contacts-panel
    position absolute
    left 0
    top 50%
    transform translateY(-50%)
    background rgba(24,24,24,0.37)
    width 70px
    overflow hidden
    transition all 0.1s ease-in-out
    z-index 5
    box-shadow  0 0 100px rgba(0,0,0,0)

    @media tablet
      width 130px
      padding-top 20px

    @media mobile
      width 60px
      padding-top 10px

    &.open
      width 410px
      background rgba(24,24,24,0.95)
      box-shadow  0 0 100px rgba(0,0,0,0.60)

      @media tablet
        width 520px

      @media mobile
        width 100%

      .open-panel
        &:after
          transform rotate(-135deg)
          right -1px

          @media tablet
            right 2px

          @media mobile
            right -1px

    .open-panel
      position absolute
      content ""
      width 13px
      background $cRed
      top 0
      bottom 0
      right 0
      z-index 0
      box-shadow 2px 0 5px rgba(0,0,0,0.5)

      @media tablet
        width 20px

      @media mobile
        width 15px

      &:after
        position absolute
        content ""
        width 9px
        height 9px
        border-top 1px solid $cWhite
        border-right 1px solid $cWhite
        border-bottom 1px solid transparent
        bordet-left 1px solid transparent
        transform rotate(45deg)
        top 50%
        right 5px
        transition all 0.1s ease-in-out
        z-index 10
        margin-top -6px

        @media tablet
          right 8px

        @media mobile
          right 5px

    .contacts-panel--el
      display block
      height 60px
      white-space nowrap

      @media tablet
        height 85px

      @media mobile
        height 45px

      .icon
        display inline-flex
        align-items center
        justify-content center
        width 62px
        height 60px

        @media tablet
          width 110px

        @media mobile
          width 45px
          height 30px

        img
          display block
          width 18px
          margin 0 auto

          @media tablet
            width 30px

          @media mobile
            width 15px

      span,
      a
        display inline-block
        vertical-align top
        line-height  60px
        font-family $fExo_el
        font-size 16px
        text-transform uppercase
        color $cWhite
        padding-right 20px

        @media tablet
          font-size 22px
          line-height 60px

        @media mobile
          font-size 14px
          line-height 30px

  .find-list
    width 100%
    position relative

    li
      display block
      margin-bottom 5vh
      overflow hidden

      &:last-child
        margin-bottom 0

      &:nth-child(odd)
        text-align right

      .content
        width 400px
        display inline-block
        vertical-align top

        @media mobile
          width 100%
          display block

        h3
          margin-bottom 30px

          @media tablet
            font-size 28px
            line-height 32px
            margin-bottom 1vh

          @media mobile
            font-size 14px
            line-height 20px

        p
          font-size 14px
          line-height 21px

          @media mobile
            font-size 13px
            line-height 16px






