block vars
    - var title='DEV'

extends partials/layout_bootstrap

block content

    .container

        .page-header
            h1 Верстка по макета

        .list-group

            .list-group-item.active Pages

            a.list-group-item(href="pageIndex/pageIndex.html")
                h4 page Index
            a.list-group-item(href="pagePrice/pagePrice.html")
                h4 page Price
            a.list-group-item(href="pageProduct/pageProduct.html")
                h4 page Product
            a.list-group-item(href="pageMap/pageMap.html")
                h4 page Map
            a.list-group-item(href="pageSpace/pageSpace.html")
                h4 page Space
            a.list-group-item(href="pageLife/pageLife.html")
                h4 page Life
            a.list-group-item(href="pageGames/pageGames.html")
                h4 page Games