#ui-datepicker-div
  margin-top -41px
  z-index 50 !important

  @media mobile_s
    margin-top 0

.ui-widget.ui-widget-content
  border none
  background #191919

.ui-state-default, .ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default
  background #272120
  border 1px solid #272120
  color $cWhite

.ui-button.ui-state-active:hover, .ui-button:active,
.ui-state-active, .ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active, a.ui-button:active
  border 1px solid $cRed

.ui-widget-header
  background #272120
  border none

.ui-icon, .ui-widget-content .ui-icon, .ui-widget-header .ui-icon
  background-image url(../img/ui-icons_ffffff_256x240.png)

.ui-datepicker .ui-datepicker-next span, .ui-datepicker .ui-datepicker-prev span
  margin-top -10px

.ui-datepicker .ui-datepicker-next,
.ui-datepicker .ui-datepicker-prev
  background transparent !important
  border none !important
  top 1px !important
  right 2px !important