
block vars
    - var title='Title'

extends ../partials/layout

block content
    include ../partials/header-inner
    include  ../partials/booking
    include  ../partials/sended

    main.price
        .fullpage.slide-content
            .section.inner-overlay.js--hide-overlay
                .inner-content.price-overlay
                    .width-wrap
                        h2.decor Цены
                        span.title Супернизкие цены
                            =" "
                            i всея Руси!
                        span.move Листай

        section.fixed-content
            .tabs
                ul.tabs--caption
                    li.active цены
                    li акции

                .tabs--content.active
                    .inner-slider
                        .inner-slider--el
                            .inner-content.bg-helmet
                                .width-wrap
                                    h2.decor Vr шлем

                                    .one-half

                                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do&nbsp;eiusmod tempor incididunt ut&nbsp;labore et&nbsp;dolore

                                        ul.inner-table
                                            li.justifyed.border
                                                span 30 мин
                                                span
                                                    strong 500 руб
                                            li.justifyed.border
                                                span 60 мин
                                                span
                                                    strong 1000 руб
                                            li.justifyed
                                                span 120 мин
                                                span
                                                    strong 1500 руб
                                            li.justifyed
                                                span Оборудование:
                                                span
                                                    strong VR шлем HTC Vive
                                            li.justifyed
                                                span Игры:
                                                span
                                                    strong для шлема

                                    .btns-wrap
                                        a(href="../img/bg--price-1.png" data-fancybox="helmet").btn.btn-white-border Фото
                                        a(href="#booking" data-eq="vr шлем").btn.btn-red.js--open-block.js--set-eq Бронировать

                                    .hidden-block.photos
                                        a(href="../img/bg--price-2.png" data-fancybox="helmet")
                                        a(href="../img/bg--price-3.png" data-fancybox="helmet")
                                        a(href="../img/bg--price-4.png" data-fancybox="helmet")

                        .inner-slider--el
                            .inner-content.bg-platform
                                .width-wrap
                                    h2.decor Vr Платформа

                                    .one-half

                                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do&nbsp;eiusmod tempor incididunt ut&nbsp;labore et&nbsp;dolore

                                        ul.inner-table
                                            li.justifyed.border
                                                span 30 мин
                                                span
                                                    strong 750 руб
                                            li.justifyed.border
                                                span 60 мин
                                                span
                                                    strong 1000 руб
                                            li.justifyed
                                                span 120 мин
                                                span
                                                    strong 1500 руб
                                            li.justifyed
                                                span Оборудование:
                                                span
                                                    strong VR платформа KATVR
                                            li.justifyed
                                                span Игры:
                                                span
                                                    strong для платформы

                                    .btns-wrap
                                        a(href="../img/bg--price-1.jpg" data-fancybox="platform").btn.btn-white-border Фото
                                        a(href="#booking" data-eq="vr платфрма").btn.btn-red.js--open-block.js--set-eq Бронировать

                                    .hidden-block
                                        a(href="../img/bg--price-2.jpg" data-fancybox="platform")
                                        a(href="../img/bg--price-3.jpg" data-fancybox="platform")
                                        a(href="../img/bg--price-4.jpg" data-fancybox="platform")

                        .inner-slider--el
                            .inner-content.bg-lease
                                .width-wrap
                                    h2.decor Аренда пространства

                                    .one-half

                                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do&nbsp;eiusmod tempor incididunt ut&nbsp;labore et&nbsp;dolore

                                        ul.inner-table
                                            li.justifyed.border
                                                span 2 часа
                                                span
                                                    strong 14000 руб
                                            li.justifyed.border
                                                span 3 часа
                                                span
                                                    strong 21000 руб
                                            li.justifyed
                                                span 4 часа
                                                span
                                                    strong 28000 руб
                                            li.justifyed
                                                span Оборудование:
                                                span
                                                    strong VR платформа KATVR
                                            li.justifyed
                                                span Игры:
                                                span
                                                    strong для платформы

                                    .btns-wrap
                                        a(href="../img/bg--price-1.jpg" data-fancybox="lease").btn.btn-white-border Фото
                                        a(href="#booking" data-eq="Аренда").btn.btn-red.js--open-block.js--set-eq Бронировать

                                    .hidden-block
                                        a(href="../img/bg--price-2.jpg" data-fancybox="lease")
                                        a(href="../img/bg--price-3.jpg" data-fancybox="lease")
                                        a(href="../img/bg--price-4.jpg" data-fancybox="lease")

                        .inner-slider--el
                            .inner-content.bg-mobile
                                .width-wrap
                                    h2.decor Мобильный VR

                                    .one-half

                                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do&nbsp;eiusmod tempor incididunt ut&nbsp;labore et&nbsp;dolore

                                        ul.inner-table
                                            li.justifyed.border
                                                span 2 часа
                                                span
                                                    strong 14000 руб
                                            li.justifyed.border
                                                span 3 часа
                                                span
                                                    strong 21000 руб
                                            li.justifyed
                                                span 4 часа
                                                span
                                                    strong 28000 руб
                                            li.justifyed
                                                span Оборудование:
                                                span
                                                    strong VR платформа KATVR
                                            li.justifyed
                                                span Игры:
                                                span
                                                    strong для платформы

                                    .btns-wrap
                                        a(href="../img/bg--price-1.jpg" data-fancybox="mobile").btn.btn-white-border Фото
                                        a(href="#booking" data-eq="Мобильная платформа").btn.btn-red.js--open-block.js--set-eq Бронировать

                                    .hidden-block
                                        a(href="../img/bg--price-2.jpg" data-fancybox="mobile")
                                        a(href="../img/bg--price-3.jpg" data-fancybox="mobile")
                                        a(href="../img/bg--price-4.jpg" data-fancybox="mobile")



                .tabs--content
                    .inner-content.inner-content-text
                        .width-wrap.scroll-wrap
                            .scroll-content.scrollbar
                                ul.price-action
                                    li
                                        .price-action--header.justifyed
                                            h3 КиберВластелин
                                            span для аренды пространства

                                        .price-action--content.justifyed
                                            .one-half
                                                p Все наше&nbsp;VR пространство будет принадлежать тебе со&nbsp;всем оборудованием (шлемы + платформы) на&nbsp;2, 3, 4&nbsp;часа. День рождения? Корпоратив? Вперёд!

                                            .one-half
                                                span.val -64%

                                        .price-action--bottom.justifyed
                                            .one-half
                                            .one-half.text-center
                                                span с&nbsp;21&nbsp;января 2018 по&nbsp;21&nbsp;октября 2018

                                    li
                                        .price-action--header.justifyed
                                            h3 Надкусить
                                            span шлемы и&nbsp;платформы

                                        .price-action--content.justifyed
                                            .one-half
                                                p Не&nbsp;хочешь переплачивать, когда нет уверенности, что тебе понравится? Именно тебе мы&nbsp;дарим нашу специальную скидку &laquo;Надкусить&raquo;
                                                p Условия:
                                                p Ты&nbsp;заранее бронируешь и&nbsp;оплачиваешь всего 30&nbsp;мин игрового времени. И&nbsp;когда тебе понравится, на&nbsp;доп.время эта скидка также действует!

                                            .one-half
                                                span.val -10%

                                        .price-action--bottom.justifyed
                                            .one-half
                                            .one-half.text-center
                                                span с&nbsp;21&nbsp;января 2018 по&nbsp;21&nbsp;октября 2018

                                    li
                                        .price-action--header.justifyed
                                            h3 КиберВластелин
                                            span для аренды пространства

                                        .price-action--content.justifyed
                                            .one-half
                                                p Все наше&nbsp;VR пространство будет принадлежать тебе со&nbsp;всем оборудованием (шлемы + платформы) на&nbsp;2, 3, 4&nbsp;часа. День рождения? Корпоратив? Вперёд!

                                            .one-half
                                                span.val -64%

                                        .price-action--bottom.justifyed
                                            .one-half
                                            .one-half.text-center
                                                span с&nbsp;21&nbsp;января 2018 по&nbsp;21&nbsp;октября 2018

                                    li
                                        .price-action--header.justifyed
                                            h3 Надкусить
                                            span шлемы и&nbsp;платформы

                                        .price-action--content.justifyed
                                            .one-half
                                                p Не&nbsp;хочешь переплачивать, когда нет уверенности, что тебе понравится? Именно тебе мы&nbsp;дарим нашу специальную скидку &laquo;Надкусить&raquo;
                                                p Условия:
                                                p Ты&nbsp;заранее бронируешь и&nbsp;оплачиваешь всего 30&nbsp;мин игрового времени. И&nbsp;когда тебе понравится, на&nbsp;доп.время эта скидка также действует!

                                            .one-half
                                                span.val -10%

                                        .price-action--bottom.justifyed
                                            .one-half
                                            .one-half.text-center
                                                span с&nbsp;21&nbsp;января 2018 по&nbsp;21&nbsp;октября 2018
