.section-sended
  position fixed
  z-index 70
  left 0
  top 0
  right 0
  height 100%
  background #191818
  transition all 0.1s ease-in-out
  transform translateX(-110%)
  overflow hidden
  background url(../img/bg--thanks.jpg) no-repeat 50% 50%
  background-size cover

  &.open
    transform translateX(0)

  .close-popup
    position absolute
    left 50%
    margin-left 560px
    top 5vh
    width 20px
    height 20px
    z-index 40
    margin-top 7px

    @media netbook
      margin-left 415px

    @media tablet
      top 5vh
      left auto
      margin-left 0
      right 5vh

    @media mobile
      top 2vh
      left 25px
      margin-top 0

    @media mobile_s
      left 10px

    &:hover
      &:after,
      &:before
        background $cRed

    &:active
      &:after,
      &:before
        background $cRed_d

    &:after,
    &:before
      position absolute
      content ""
      width 30px
      height 1px
      background $cWhite
      top 0
      transition all 0.1s ease-in-out

      @media mobile
        width 20px

    &:after
      top 10px
      left 0
      transform rotate(45deg)

    &:before
      top 10px
      left 0
      transform rotate(-45deg)

  .sended-content
    display flex
    width 100%
    height 100%
    align-content center
    align-items center
    justify-content center
    flex-flow column

    h1
      color $cWhite
      font-size 64px
      margin-bottom 5vh
      text-transform uppercase

      @media tablet
        font-size 45px

      @media mobile
        font-size 33px

    a
      max-width 370px

      @media mobile
        width 100%
        padding-right 0
        padding-left 0

.index-booking
  position fixed
  z-index 45
  left 0
  top 0
  right 0
  height 100%
  background #191818
  transition all 0.1s ease-in-out
  transform translateX(-110%)
  overflow hidden

  @media mobile_s
    right auto
    width 320px

  &.open
    transform translateX(0)

  .close-popup
    position absolute
    left 50%
    margin-left 560px
    top 5vh
    width 20px
    height 20px
    z-index 40
    margin-top 7px

    @media netbook
      margin-left 415px

    @media tablet
      top 5vh
      left auto
      margin-left 0
      right 5vh

    @media mobile
      top 2vh
      left 25px
      margin-top 0

    @media mobile_s
      left 10px

    &:hover
      &:after,
      &:before
        background $cRed

    &:active
      &:after,
      &:before
        background $cRed_d

    &:after,
    &:before
      position absolute
      content ""
      width 30px
      height 1px
      background $cWhite
      top 0
      transition all 0.1s ease-in-out

      @media mobile
        width 20px

    &:after
      top 10px
      left 0
      transform rotate(45deg)

    &:before
      top 10px
      left 0
      transform rotate(-45deg)

  .width-wrap
    height 100%

    @media netbook
      width 900px

    @media tablet
      width 100%
      padding 0 60px

    @media mobile
      width auto
      padding 0 25px

    @media mobile_s
      width 320px
      position relative
      padding 0 10px
      margin 0 auto

    .tabs-nav
      @media mobile_s
        width 300px !important
        margin 0 auto !important

    .form-booking
      @media mobile_s
        width 300px
        align-items flex-start !important
        overflow hidden

      .tabs--content-wrap
        @media mobile_s
          width 300px

        .tabs--content
          @media mobile_s
            width 300px

          .scroll-wrap
            @media mobile_s
              width 300px

            .index-booking-finish,
            .index-booking-equipment,
            .index-booking-condition
              @media mobile_s
                width 300px

  .tabs
    .tabs-nav
      display inline-block
      vertical-align top
      position absolute
      top 5vh
      left 0
      margin-top 10px

      @media mobile
        display -webkit-box
        display flex
        position relative
        z-index 15
        width 100%
        top auto
        margin 10px 25px 0

    .tabs--caption
      display inline-block
      vertical-align top

      li
        display inline-block
        vertical-align top
        width 6px
        height 6px
        border-radius 8px
        background $cGray
        margin-right 10px
        cursor pointer
        pointer-events auto

        &.active
          cursor default
          background $cRed
          pointer-events auto

        &.disabled
          pointer-events none
          cursor default
          opacity 0.5

    .step
      font-size 16px
      line-height 8px
      display none

      @media mobile
        display inline-block
        vertical-align top

      i
        display inline-block
        margin 0 10px
        opacity 0.12

    .tabs--content-wrap
      width 100%

    .tabs--content
      width 100%
      height 65vh
      display none
      overflow hidden

      @media mobile
        height 63vh

      .scroll-wrap
        display block
        height 100%
        max-height 65vh
        margin-right -20px
        padding-right 20px

        &.mCustomScrollbar
          -webkit-overflow-scrolling touch
          overflow-y auto
          height 100%
          margin-right 0
          padding-right 0

          @media mobile_s
            width 300px

        .mCSB_inside>.mCSB_container
          margin-right 0

          @media mobile_s
            width 300px

        .mCSB_scrollTools
          opacity 0
          right -20px

        @media mobile
          overflow-y scroll

      &.active
        position relative
        display block
        z-index 10

  h3
    text-align center
    position relative

    @media mobile_s
      width 100%

  &-condition
    width 100%

    h2
      margin-bottom 14vh

      @media tablet
        margin-bottom 5vh

    .justifyed
      padding 0 100px
      width 1170px

      @media netbook
        width 900px
        padding 0 60px

      @media tablet
        display block
        width 100%
        padding 0

      @media mobile
        padding 0

    &--el
      display inline-flex
      align-content center
      align-items center
      vertical-align top
      width 470px
      border-bottom 1px solid $cGray
      padding 0 45px 45px
      min-height 175px
      box-sizing border-box

      @media netbook
        width 380px
        padding 0 20px

      @media tablet
        display flex
        margin 0 auto 25px

      @media mobile
        min-height 10px
        width 100%
        padding 0 0 3vh 25vw
        margin-bottom 3vh

      &:last-child
        @media tablet
          border-bottom none

      img
        display inline-block
        vertical-align top
        width 75px
        margin-right 25px

        @media mobile
          width 50px
          margin-left -15vw
          transform translateX(-50%)
          margin-right 0

      p
        display inline-block
        vertical-align top
        width 280px
        text-align left

        @media mobile
          width 98%
          font-size 12px

  &-equipment
    h2
      margin-bottom 10vh

      @media netbook
        margin-bottom 3vh

  .main-form
    display -webkit-block
    display flex
    align-items center
    align-content space-between
    justify-content space-between
    flex-direction column
    flex-wrap wrap
    height 100%
    padding 5vh 0
    width 100%
    position relative

    @media mobile
      padding 2vh 0


    h2
      text-align left
      font-size 40px
      line-height 44px

      @media mobile
        font-size 22px
        line-height 26px

    .form-content
      text-align center
      width 100%

      h2
        margin-bottom 14vh

        @media netbook
          margin-bottom 4vh

        @media tablet
          margin-bottom 10vh

        @media mobile
          margin-bottom 3vh

      .form-input
        margin-bottom 14vh
        width 100%

      .inp
        width 370px

    label.one-third
      display inline-block
      vertical-align top
      width 370px
      border 1px solid $cGray
      height 370px
      padding 2vh 30px 8vh
      position relative
      cursor pointer

      @media netbook
        width 290px
        height 320px
        padding 5px 20px 30px 20px

      @media tablet
        width 100%
        display flex
        align-items center
        align-content center
        border none
        padding 2vh 0
        height auto
        border-bottom 1px solid rgba(255,255,255,0.13)

      @media mobile
        padding 12px 0

      &:last-child
        @media tablet
          margin-bottom 0
          border none

      h3
        text-align center
        font-size 24px
        margin-bottom 5vh

        @media netbook
          font-size 21px

        @media tablet
          display inline-block
          vertical-align top
          margin-bottom 0
          width 35%
          font-size 20px

        @media mobile
          font-size 13px
          line-height 14px

      .labels
        @media tablet
          width 45%

        @media mobile
          width 50%

      .label-top
        border-bottom 1px solid $cGray
        padding-bottom 5px
        margin-bottom 15px

        @media tablet
          display block
          vertical-align top
          padding 0
          padding-bottom 2px
          margin-bottom 3px

      .justifyed
        @media tablet
          display block
          text-align left
          height 24px
          white-space nowrap

        @media mobile
          height 18px

      span
        font-family $fExo_el
        font-size 16px
        text-transform uppercase
        margin-bottom 10px

        @media tablet
          display inline-block
          vertical-align top
          margin-bottom 5px

        @media mobile
          font-size 12px
          line-height 18px
          margin-bottom 0

        &:first-child
          @media tablet
            width 90px

          @media mobile
            width 70px

        strong
          font-family $fExo

      .psevdocheckbox
        position absolute
        width 6vh
        height 6vh
        border-radius 100%
        background $cGray
        left 50%
        bottom 2vh
        transform translateX(-50%)

        &:after
          position absolute
          content ""
          left 20%
          top 20%
          right 20%
          bottom 20%
          background $cRed
          z-index 10
          border-radius 100%
          transition all 0.1s ease-in-out
          opacity 0

        @media tablet
          top 50%
          bottom auto
          right 7%
          left auto
          transform translateX(50%) translateY(-50%)
          width 60px
          height 60px

        @media mobile
          position absolute
          display inline-block
          vertical-align top
          width 30px
          height 30px
          left auto
          right 0
          transform translate3d(0, -50%,0)

      input:checked + .psevdocheckbox
        &:after
          opacity 1

  &-btns
    @media mobile
      white-space nowrap
      padding 0
      width 100%
      display block

    &.one-btn
      @media mobile
        .btn
          width 100%
          display block

    .btn
      width 285px
      transition color 0.2s ease-in-out, background-color 0.2s ease-in-out

      @media tablet
        width 240px

      @media mobile
        width 50%
        padding-left 0
        padding-right 0

  &-params
    align-content stretch
    align-items stretch

    h2
      margin-bottom 5vh

      @media tablet
        margin-bottom 8vh

      @media mobile
        margin-bottom 0 !important

    & > .justifyed
      @media tablet
        position  relative
        padding-right 100px
        display block

      @media mobile
        display block
        padding-right 50px
        min-height 57vh
        overflow hidden
        padding-top 50px

    .params-date-wrap
      display inline-flex
      align-items center
      align-content center
      border-right 1px solid rgba(255,255,255,0.13)
      position relative

      @media tablet
        padding-top 40px
        display flex
        width 330px
        margin 0 auto 40px

      @media mobile
        width 210px
        height 60px
        padding-top 20px
        margin 0 0 20px

      &:before
        position absolute
        content ""
        background url(../img/icon--calendar.svg) no-repeat 50% 50%
        background-size cover
        width 19px
        height 19px
        top -26px
        right -11px
        opacity 0.3

      .params-date
        position relative
        height 40px
        width 290px
        border-top 1px solid rgba(255,255,255,0.13)
        border-bottom  1px solid rgba(255,255,255,0.13)

        @media tablet
          width 330px
          margin-bottom 40px

        @media mobile
          width 210px
          position absolute
          top 20px
          right 0
          height 20px
          margin-bottom 20px

        .inp-date
          position absolute
          z-index 10
          left 0
          top -40px
          width 100%
          height 120px
          opacity 0
          caret-color transparent

          @media mobile
            top -20px
            height 60px

        .inp-date-mobile-overlay
          display none

          @media tablet
            display block
            position absolute
            z-index 11
            left 0
            top -40px
            height 120px
            width 100%
            opacity 0

          @media mobile
            top -20px
            height 60px

      .calendar-wrap
        display inline-block
        vertical-align top
        width 290px
        position relative

        @media tablet
          width 330px

        @media mobile
          width 210px

      .calendar
        display inline-block
        vertical-align top
        width 32%
        height 120px
        overflow hidden
        margin-top -40px

        @media tablet
          width 110px

        @media mobile
          width 70px
          height 60px
          margin-top -20px

        span
          display block
          height 41px
          text-align center
          line-height 38px
          color $cGray
          font-size 18px

          @media mobile
            font-size 12px
            height 21px
            line-height 16px

          &.current
            color $cWhite
            font-size 24px

            @media mobile
              font-size 16px

    .time-wrap
      display inline-flex
      align-items center
      align-content center
      justify-content flex-start
      flex-flow wrap
      vertical-align top
      width 570px

      @media netbook
        width 520px

      @media tablet
        width 330px
        display flex
        margin 0 auto

      @media mobile
        margin 0
        width 210px

      .tabs
        @media tablet
          width 100%

      .tabs-inner--caption
        display none

        @media tablet
          display block
          width 330px
          margin-bottom 20px

        @media mobile
          width 240px

        li
          display inline-block
          vertical-align top
          width 110px
          color $cWhite
          border-bottom 1px solid rgba(255,255,255,0.13)
          text-align center

          @media mobile
            width 70px

          &.active
            color $cRed
            border-bottom 1px solid $cRed

      .tabs-inner
        @media tablet
          width 330px

      .time-list
        display block
        width 100%

        .tabs-inner--content
          display block
          margin-bottom 20px
          margin-left -7px

          @media netbook
            margin-bottom 10px

          @media tablet
            display none
            margin-left 0

          &.active
            @media tablet
              display block

          label
            display inline-block
            width 89px
            margin-left 7px
            margin-bottom 6px

            @media netbook
              width 80px

            @media tablet
              width 109px
              text-align center
              margin-left 0

            @media mobile
              width 68px
              margin 0 0 10px 2px

            input
              display none

              &:checked + span
                border 1px solid $cRed
                color $cRed

            span
              display block
              width 89px
              height 35px
              border 1px solid $cGray
              color $cWhite
              transition all 0.1s ease-in-out
              border-radius 30px
              font-size 18px
              line-height 35px
              text-align center
              cursor pointer

              &:hover
                color $cRed
                border 1px solid rgba(149,46,38,0.37)

              &:active
                color $cRed_active
                border 1px solid $cRed_active

              @media netbook
                width 80px
                height 30px
                line-height 30px
                font-size 16px

              @media tablet
                width 70px
                margin 0 auto

              @media mobile
                width 70px
                height 24px
                font-size 12px
                line-height 22px

                &:hover
                  color $cWhite
                  border 1px solid $cGray

                &:active
                  color $cWhite
                  border 1px solid $cGray

      .time-total
        padding-top 20px
        display flex
        border-top 1px solid rgba(255,255,255,0.13)
        margin 0 100px
        width 100%

        @media netbook
          margin 0 87px

        @media tablet
          margin 0 auto
          padding-top 20px
          border-top 1px solid rgba(255,255,255,0.13)

        span
          display inline-block
          vertical-align top
          font-size 18px
          line-height 24px
          text-transform uppercase
          font-family $fExo_el

          &.time-total-val
            font-family $fExo

          @media mobile
            font-size 16px
            line-height 16px

    .params-members
      display inline-block
      vertical-align top
      width 270px
      text-align right
      padding-left 20px
      position relative
      margin-bottom 20px

      @media netbook
        width 70px
        padding-left 0

      @media tablet
        position absolute
        top 0
        right 30px
        width 90px
        padding-left 0
        margin-bottom 10px

      @media mobile
        top 50px
        width 50px

      @media mobile_s
        top 50px

      input
        display none

      .noUi-vertical
        width 1px
        background transparent
        display inline-block
        vertical-align top
        border none
        height 42vh
        margin-top 4vh
        background $cGray
        box-shadow none

        @media mobile_s
          margin-top 20px

        &:before
          position absolute
          content ""
          width 1px
          height 4vh
          top -4vh
          left 0
          background $cGray

          @media mobile_s
            height 7vh
            top -6vh

      .noUi-base
        display inline-block
        vertical-align top
        height 42vh
        width 1px
        border none
        position relative
        background transparent

        &:after
          position absolute
          content ""
          width 31px
          height 19px
          background url("../img/icon--group.svg") no-repeat 50% 50%
          background-size cover
          opacity 0.3
          top -70px
          left -15px

          @media tablet
            top -70px

          @media mobile
            top -50px

          @media mobile_s
            top -48px

        .ui-slider-range
          width 1px
          background $cGray
          border none

        .noUi-connect
          background transparent

        .noUi-origin
          //&:last-child
          //  display none

          .noUi-handle
            width 6vh
            height 6vh
            border-radius 100%
            left -2.9vh
            top -40px
            background $cRed
            border none
            box-shadow 2px 0 5px rgba(0,0,0,0.5)

            @media mobile
              top -27px

            &:before,
            &:after
              display none

      .members-list
        display inline-flex
        flex-flow column-reverse
        justify-content space-between
        align-items center
        height 45vh
        margin-top 2vh

        @media tablet
          height 44vh
          margin-left 5px
          margin-right -5px

        @media mobile
          height 46vh
          margin-top 0

        @media mobile_s
          height 48vh
          margin-top -2vh

        li
          display block
          transition all 0.1s ease-in-out
          font-size 18px
          padding-left 40px
          white-space 100%
          text-align right
          color $cWhite
          cursor pointer

          @media mobile
            padding-left 15px
            padding-right 5px

          &.active
            cursor default
            color $cRed

  &-info
    h2
      margin-bottom 15vh

      @media netbook
        margin-bottom 10vh

      @media mobile
        font-size 29px
        margin-bottom 30px

      @media mobile_s
        margin-bottom 10px

    .justifyed
      padding 0 100px
      width 1170px
      margin 0 auto 15vh

      @media netbook
        width 900px
        padding 0 60px
        margin-bottom 5vh

      @media tablet
        display block
        width 100%
        padding 0
        margin-bottom 30px

      @media mobile
        padding 0

      input
        width 370px

        @media netbook
          margin-bottom 10vh

        @media tablet
          margin 0 auto 10vh

        @media mobile
          width 100%
          margin-bottom 4vh

    span
      display block

  &-finish
    h2
      margin-bottom 5vh

      @media mobile
        margin-bottom 20px

    & >  .justifyed
      @media tablet
        width 600px
        margin 0 auto

      @media tablet
        width 100%

      @media mobile_s
        width 300px

    .one-half
      width 570px

      @media netbook
        width 435px

      @media tablet
        width 100%
        display block

      @media mobile_s
        width 300px

      &:first-child
        border-right 1px solid $cGray
        padding-right 30px

        @media tablet
          border none
          padding-right 0


    .finish-data
      width 100%
      display block

      &.mobile-border
        @media mobile
          border-top 1px solid rgba(255,255,255,0.13)
          padding-top 15px

      li
        width 100%
        display flex
        margin-bottom 25px

        @media netbook
          margin-bottom 15px

        @media mobile
          margin-bottom 15px

      span
        display inline-block
        vertical-align top
        font-family $fExo_el
        font-size 16px
        text-transform uppercase

        @media mobile
          font-size 12px
          line-height 12px

        &.red
          color $cRed
          font-size 24px

          @media mobile
            font-size 14px

        &.val-price
          position relative

          &:after
            position absolute
            content "-"
            right 0
            bottom -20px
            font-size 30px

            @media netbook
              bottom -15px

            @media tablet
              font-size 20px

            @media mobile
              bottom -10px

        &.val-discount
          position relative

          &:after
            position absolute
            content "="
            right 0
            bottom -22px
            font-size 30px

            @media netbook
              bottom -15px

            @media tablet
              font-size 20px

            @media mobile
              bottom -10px

        strong
          font-family $fExo

    .fihish-discount
      border-top 1px solid $cGray
      padding-top 15px

      .inp
        width 270px
        text-align left

        @media netbook
          width 210px

        @media mobile
          width 47%
          height 25px
          font-size 14px

        &::placeholder
          text-align left

          @media mobile
            font-size 14px

      .jq-selectbox
        width 270px
        position relative

        @media netbook
          width 210px

        @media mobile
          width 47%

        select
          opacity 0
          position absolute

        .jq-selectbox__select
          box-sizing border-box
          background transparent
          box-shadow none
          outline none
          height 48px
          display block
          font-size 20px
          font-family $fPoiret
          color $cWhite
          border none
          box-shadow none
          border-bottom 1px solid $cGray
          border-radius 0
          -webkit-appearance none
          text-align center
          padding-left 0
          position relative

          @media mobile
            height 24px
            font-size 14px

          &.focused
            .jq-selectbox__dropdown
              @media mobile
                display block !important

          .jq-selectbox__select-text
            font-size 20px
            font-family $fPoiret
            line-height 46px
            color $cWhite
            text-shadow none
            text-align left

            @media mobile
              font-size 14px
              line-height 25px

          .jq-selectbox__trigger
            border none

            .jq-selectbox__trigger-arrow
              top 50%
              margin-top -5px
              right 0
              width 0
              height 0
              border-style solid
              border-width 9px 7.5px 0 7.5px
              border-color #333333 transparent transparent transparent

        .jq-selectbox__dropdown
          display block
          background #191919
          border none
          border-radius 0
          position absolute
          top 45px

          @media mobile
            top auto !important
            bottom 0 !important

          ul
            li
              display block
              color $cWhite

              &.selected,
              &:hover
                background $cRed

              &:last-child
                border-bottom none


