.game-filter
  position fixed
  left 0
  top 0
  right 0
  bottom 0
  z-index 50
  background rgba(23,23,23,0.64)
  transform translateX(110%)
  text-align right
  transition all 0.1s ease-in-out

  &.open
    transform translateX(0)

  .filter-form
    display inline-flex
    flex-flow column
    justify-content space-between
    height 100%
    position relative
    width 35%
    background rgba(23,23,23,1)
    padding 5vh 35px
    text-align left

    @media netbook
      width 50%

    @media tablet
      width 100vw
      display flex
      padding 3vh

    @media mobile
      padding 2vh 10px

    .filter-scroll-wrap
      position absolute
      left 0
      right 35px
      top 15vh
      bottom 15vh
      overflow hidden

      @media tablet
        top 70px
        bottom 110px

      @media mobile
        top 50px
        bottom 60px

      .filter-scroll
        height 100%
        overflow-y scroll
        margin-right -20px
        padding-right 20px
        padding-left 35px

        @media mobile
          padding-left 2vh

    .close-filter
      position absolute
      left 5vh
      top 5vh
      width 20px
      height 20px
      z-index 50
      cursor pointer

      @media tablet
        top 3vh
        left 3vh

      @media mobile
        top 2vh
        left 2vh

      &:before,
      &:after
        position absolute
        content ""
        height 1px
        width 28px
        background $cWhite
        top 50%

      &:before
        left -4px
        transform rotate(45deg)
      &:after
        right -4px
        transform rotate(-45deg)

    h3
      display block
      text-align center

    .filter-section
      display block
      margin-bottom 5vh

      &-title
        display block
        font-size 20px
        font-family $fExo
        margin-bottom 3vh
        text-transform uppercase

        @media netbook
          margin-bottom 10px

        @media tablet
          margin-bottom 30px

        @media mobile
          font-size 16px
          margin-bottom 10px

        img
          display inline-block
          vertical-align top
          width 24px
          margin-right 20px

    .filter-equipment
      .one-half
        width 45%

      .label-checkbox
        display inline-block
        vertical-align top
        padding-left 55px
        cursor pointer

        @media tablet
          padding-left 40px

        @media mobile
          padding-left 35px

        input
          display none

          &:checked + .psevdocheckbox:after
            opacity 1

        .psevdocheckbox
          display inline-block
          vertical-align top
          width 16px
          height 16px
          border 1px solid rgba(255,255,255,0.13)
          position relative
          margin-left -40px
          margin-top 3px
          margin-right 20px

          @media tablet
            width 30px
            height 30px

          @media mobile
            width 20px
            height 20px
            margin-left -40px

          &:after
            position absolute
            content ""
            left 1px
            top 1px
            right 1px
            bottom 1px
            transition all 0.1s ease-in-out
            background $cRed
            opacity 0

        span
          font-size 20px
          display inline-block
          vertical-align top
          width 95%

          @media mobile
            font-size 16px
            width 90%

    .filter-players
      display block
      background transparent
      width auto
      border none
      margin 18px 30px 0 0
      height 60px
      position relative

      @media tablet
        margin-right 30px

      @media mobile
        margin-top 0
        width auto
        margin-right 20px

      input
        display none

      .noUi-target
        background none
        box-shadow none
        border none
        height 0

        @media mobile
          margin 0 6px 0 13px

      .noUi-base
        display inline-block
        vertical-align top
        width 100%
        height 1px
        border none
        top 45px
        position relative
        background transparent

        @media mobile
          top 35px

        .noUi-connects
          height  1px
          background $cGray
          border none

        .noUi-handle
          width 36px
          height 36px
          border-radius 100%
          transform translateX(8px)
          background $cRed
          border none
          top -18px
          box-shadow 2px 0 5px rgba(0,0,0,0.5)

          @media mobile
            width 20px
            height 20px
            top -10px
            transform translateX(0)

          &:before,
          &:after
            display none

      .members-list
        display flex
        justify-content space-between
        align-items center
        width auto
        margin 0 -13px 0 5px

        @media mobile
          margin 0 -12px 0 5px

        li
          display inline-block
          transition all 0.1s ease-in-out
          font-size 18px
          color $cWhite
          cursor pointer
          width 25px
          text-align center

          @media mobile
            font-size 14px
            width 25px
            text-align center

          &.active
            cursor default
            color $cRed

    .select-styled
      display inline-block
      vertical-align top
      width 40%
      position relative

      select
        position absolute
        left 0
        top 0
        opacity 0

      &.dropup.opened
        .jq-selectbox__select
          border-bottom 1px solid $cRed

          .jq-selectbox__trigger
            .jq-selectbox__trigger-arrow
              border-top 8px solid $cRed
              transform rotate(180deg)

      .jq-selectbox__select
        position relative
        z-index 10
        height 30px
        background transparent
        box-shadow none
        border none
        border-bottom 1px solid rgba(255,255,255,0.13)
        padding-left 0
        transition all 0.1s ease-in-out
        z-index 50

        @media mobile
          height 20px

        &:hover
          border-bottom 1px solid $cRed

          .jq-selectbox__trigger
            .jq-selectbox__trigger-arrow
              border-top 8px solid $cRed

        &:active
          border-bottom 1px solid $cRed

          .jq-selectbox__select-text
            color $cRed

        .jq-selectbox__select-text
          height 30px
          line-height 30px
          text-shadow none
          font-size 20px
          color $cWhite
          font-family $fPoiret

          @media mobile
            font-size 16px
            height 20px
            line-height 20px

        .jq-selectbox__trigger
          border none

          .jq-selectbox__trigger-arrow
            border-top 8px solid #333
            border-right 8px solid transparent
            border-left 8px solid transparent
            transition all 0.1s ease-in-out

            @media mobile
              top 6px
              right 0

      .jq-selectbox__dropdown
        position absolute
        left 0
        right 0
        background rgba(24,24,24,0.95)
        padding 10px 0
        border none
        z-index 40

        @media mobile
          padding 5px 0

        ul
          max-height 300px

          li
            display block
            text-align center
            margin-bottom 10px
            color $cWhite !important
            font-size 20px
            line-height 20px
            background transparent

            @media mobile
              margin-bottom 3px
              font-size 14px

            &:hover,
            &.sel
              color $cRed  !important

            &:last-child
              margin-bottom 0

    .filter-age
      width 55%
      white-space nowrap

      .label-radio
        display inline-block
        vertical-align top
        width 25%
        cursor pointer

        input
          display none

          &:checked + span
            color $cRed
            border-bottom 1px solid $cRed

        span
          display block
          height 30px
          border-bottom 1px solid rgba(255,255,255,0.13)
          text-align center
          font-size 20px
          transition all 0.1s ease-in-out

          @media mobile
            font-size 16px
            height 20px
            line-height 20px

    .filter-type
      padding-top 20px

      div
        display block

      .label-checkbox
        display inline-block
        vertical-align top
        margin-right 10px
        margin-bottom 10px
        cursor pointer

        @media mobile
          margin-right 5px
          margin-bottom 5px

        input
          display none

          &:checked + span
            color $cRed
            border 1px solid $cRed

        span
          display block
          padding 5px 10px
          border 1px solid $cWhite
          font-size 20px
          border-radius 20px
          transition all 0.1s ease-in-out

          @media mobile
            font-size 16px
            padding 3px 5px

    .filter--btns
      width 100%

      .btn
        width 50%
        padding-left 0
        padding-right 0
        text-align center

        @media mobile
          font-size 16px
          height 40px
          padding-top 0
          padding-bottom 0
          line-height 38px
