.game-info-container
  position fixed
  left 0
  top 0
  right 0
  bottom 0
  z-index 40
  transition all 0.1s ease-in-out
  transform translateX(-110%)
  background #171717

  &.open
    transform translateX(0)

  .game-info
    display block
    width 100%
    height 100%
    background-size cover !important
    position relative

    &:after
      position absolute
      content ""
      left 0
      top 0
      right 0
      bottom 0
      background rgba(23,23,23,0.85)
      z-index 10

    .width-wrap
      position relative
      z-index 20
      overflow hidden
      height 100%

      @media netbook
        width auto
        margin 0 40px

      @media mobile
        margin 0 10px

      .game-info-scroll
        height 100%
        overflow-y scroll
        width auto
        display block
        margin-right -20px
        padding-right 20px

        &.mCustomScrollbar
          -webkit-overflow-scrolling touch
          overflow-y auto
          height 100%
          margin-right 0
          padding-right 0

        .mCSB_inside>.mCSB_container
          margin-right 0

        .mCSB_scrollTools
          opacity 0

    &--header
      width 470px
      margin-bottom 30px
      padding-top 15vh
      position relative

      @media mobile
        padding-top 2vh
        width 100%

      .close-game
        position absolute
        width 25px
        height 25px
        border-left 1px solid $cWhite
        border-bottom 1px solid $cWhite
        transform rotate(45deg)
        left 10px
        top 17vh
        z-index 20

        @media mobile
          top 7vh

        @media mobile
          zoom 0.5

      .justifyed
        align-content center
        align-items center

        @media mobile
          padding-right 110px

        h2
          width 335px
          display inline-block
          vertical-align top

          @media mobile
            font-size 34px
            line-height 36px
            width 95%

        .circle-border
          display inline-block
          vertical-align top
          width 104px
          height 104px
          border-radius 105px
          border 1px solid rgba(255,255,255,0.13)

          @media netbook
            margin-bottom 10px
            zoom 0.8
            transform translateX(25%)

          @media tablet
            zoom 0.8
            transform translateX(25%)

          @media mobile
            zoom 0.5
            transform translateX(100%)
            margin-right -110px

          svg
            width 104px
            height 104px
            border-radius 105px
            margin -1px

            path
              fill none
              stroke-width 3px
              stroke $cRed

            text
              stroke $cWhite
              color $cWhite
              font-size 36px
              line-height 105px
              font-family $fExo_el

      .game-info--btns
        .btn
          @media mobile
            display inline-block
            vertical-align top
            margin 0 auto
            width 50%
            padding-right 0
            padding-left 0
            text-align center

    &--text
      margin-bottom 30px
      text-align right

      @media mobile_s
        margin-bottom 15px

      p
        text-align right
        width 350px
        display inline-block
        font-size 14px
        line-height 20px

        @media mobile
          width 50%

        @media mobile_s
          width 75%

    &--params
      margin-bottom 30px
      display block
      color #808080
      font-size 16px
      font-family $fExo_el

      @media mobile
        font-size 15px

    &--about
      display inline-block
      vertical-align top
      width 370px

      @media netbook
        width 35%
        padding-right 2%

      @media mobile
        display block
        width 100%
        margin-bottom 30px

      h3,
      p
        margin-bottom 20px

      .mobile-text
        @media tablet
          display none

      .btn
        display none

        @media mobile
          display block
          margin 0 auto
          width 60%
          padding-right 0
          padding-left 0

    &--visual
      display inline-block
      vertical-align top
      width 770px

      @media netbook
        width 65%

      @media mobile
        width 100%
        display block

      h3
        margin-bottom 20px

      .photos
        @media netbook
          margin-left -2%

        @media mobile
          margin-bottom 15px

        li
          display inline-block
          vertical-align top
          width 240px
          margin-right 10px
          margin-bottom 10px
          box-shadow 2px 0 5px rgba(0,0,0,0.5)

          @media netbook
            width 32%
            margin-right 1%
            margin-bottom 1%

          @media mobile
            width 47%
            margin 0 0 2% 2%

          a
            display block
            position relative
            overflow hidden

            img
              display block
              width 100%

            &.video:before
              position absolute
              content ""
              z-index 15
              top 50%
              left 50%
              transform translate3d(-50%,-50%,0)
              width 0
              height 0
              border-style solid
              border-width 30px 0 30px 45px
              border-color transparent transparent transparent #952d26

              @media mobile
                border-width 10px 0 10px 15px

