.header
  position fixed
  left 50%
  margin-left -570px
  top 3vh
  z-index 30
  width 1140px

  &.header-games
    @media netbook
      width auto
      left 3vh
      right 3vh

  &.header-inner
    width auto
    right auto

  @media netbook
    left 3vh
    margin-left 0
    width 1000px

  @media tablet
    left 3vh
    margin-left 0
    width auto
    right 3vh

  @media mobile
    left 10px
    top 10px
    right 15px

  &.open
    nav
      transform translateX(0)

  a.header-logo
    cursor pointer

  &-logo
    display block
    width 57px
    font-family $fPoiret
    font-size 24px
    line-height 57px
    text-align center
    margin-bottom 20px
    z-index 30

    img
      display block
      width 100%

    @media mobile
      width 37px
      line-height 37px
      margin-bottom 10px

  &-hamburger
    display block
    display block
    width 28px
    height 18px
    position relative
    margin-left 15px
    opacity 1
    transition all 0.1s ease-in-out
    cursor pointer

    @media mobile
      margin-left 5px

    &:hover
      &:after,
      &:before
      span
        background $cRed

    &:active
      &:after,
      &:before
      span
        background $cRed_active

    &:after,
    &:before
    span
      position absolute
      content ""
      left 0
      right 0
      height 1px
      background $cWhite
      opacity 1
      transition all 0.1s ease-in-out

    &:before
      top 0
    &:after
      bottom 0
    span
      top 50%

nav
  position fixed
  left 0
  right 0
  top 0
  bottom 0
  background #1b1a19
  z-index 20
  transition all 0.1s ease-in-out
  transform translateX(-110%)

  .close-menu
    position absolute
    left 50%
    margin-left 560px
    top 5vh
    width 25px
    height 25px

    @media netbook
      margin-left 450px

    @media tablet
      left auto
      right 5vh
      margin-left auto

    &:hover
      &:after,
      &:before
        background $cRed

    &:active
      &:after,
      &:before
        background $cRed_d

    &:after,
    &:before
      position absolute
      content ""
      width 30px
      height 1px
      background $cWhite
      top 0
      transition all 0.1s ease-in-out

    &:after
      top 10px
      left 0
      transform rotate(45deg)

    &:before
      top 10px
      left 0
      transform rotate(-45deg)

  ul
    display -webkit-block
    display flex
    align-items  center
    align-content space-around
    justify-content space-around
    flex-direction column
    flex-wrap wrap
    height 100%
    padding 10vh 0

    li
      display block
      text-align center

      span
        display inline-block
        vertical-align top
        font-size 24px
        font-family $fExo
        color $cRed
        text-transform uppercase

      a
        display inline-block
        vertical-align top
        font-size 24px
        font-family $fExo
        color $cWhite
        text-transform uppercase
        transition all 0.1s ease-in-out

        &:hover
          color $cRed
        &:active
          color $cRed_d

.header-games-icons
  display inline-block
  vertical-align top
  position absolute
  top 0
  right 0
  padding-top 13px

  @media tablet
    padding-top 0

  .icon-filter
    display inline-flex
    align-items center
    justify-content center
    vertical-align top
    width 29px
    height 29px
    margin-right 25px
    background-size cover

    img
      display block
      width 100%

      @media tablet
        width 80%

    @media tablet
      background $cRed
      margin-right -10px

  .search-form
    display inline-block
    vertical-align top

    @media tablet
      margin-left 15px

    .inp
      display inline-block
      vertical-align top
      height 29px
      border-bottom 1px solid rgba(255,255,255,0.2)
      text-align left
      color $cWhite
      transition all 0.1s ease-in-out
      font-size 20px
      width 155px
      margin-right 10px

      @media mobile_s
        width 145px

      &::placeholder
        color $cWhite
        text-align left
        font-size 20px

    .icon-search
      display inline-block
      vertical-align top
      width 29px
      height 29px
      background url("../img/icon--search.svg") no-repeat 50% 50%
      background-size cover

      @media tablet
        margin-right 0

