.preloader
  background #000001
  position fixed
  left 0
  top 0
  right 0
  bottom 0
  z-index 20

  &-img
    position absolute
    left 50%
    top 50%
    width 170px
    height 170px
    transform translate3d(-50%,-50%,0)

  *
    position absolute


  &-square-top
    width 0
    height 100px
    top 0
    left 70px
    background $cWhite
    transition all 2s ease-in-out, background 1s ease-in-out

    &.open
      width 100px

    &.red
      background $cRed

  &-square-bottom
    width 0
    height 70px
    top 100px
    right 100px
    background $cWhite
    transition all 2s ease-in-out, background 1s ease-in-out

    &.open
      width 70px

    &.red
      background $cRed

  &-letter-top
    width 70px
    height 100px
    line-height 96px
    left 0
    transform translateX(70px)
    transition transform 2s ease-in-out, color 1s ease-in-out

    &.visible
      opacity 1

    &.open
      transform translateX(0)

    &.red
      color $cRed

  &-letter-bottom
    width 100px
    height 70px
    line-height 66px
    left 70px
    top 100px
    transform translateX(-100px)
    transition transform 2s ease-in-out, color 1s ease-in-out

    &.visible
      opacity 1

    &.open
      transform translateX(0)

    &.red
      color $cRed

  span
    opacity 0
    font-size 56px
    font-family $fExo
    text-align center