@font-face {
  font-family: "Exo2Regular";
  src: url("../fonts/Exo2Regular/Exo2Regular.eot");
  src: url("../fonts/Exo2Regular/Exo2Regular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Exo2Regular/Exo2Regular.woff") format("woff"),
  url("../fonts/Exo2Regular/Exo2Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Exo2ExtraLight";
  src: url("../fonts/Exo2ExtraLight/Exo2ExtraLight.eot");
  src: url("../fonts/Exo2ExtraLight/Exo2ExtraLight.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Exo2ExtraLight/Exo2ExtraLight.woff") format("woff"),
  url("../fonts/Exo2ExtraLight/Exo2ExtraLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "PoiretOne";
  src: url("../fonts/PoiretOne/PoiretOne.eot");
  src: url("../fonts/PoiretOne/PoiretOne.eot?#iefix") format("embedded-opentype"),
  url("../fonts/PoiretOne/PoiretOne.woff") format("woff"),
  url("../fonts/PoiretOne/PoiretOne.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

// font vars

$fExo = Exo2Regular, sans-serif
$fExo_el = Exo2ExtraLight, sans-serif
$fPoiret = PoiretOne, sans-serif