html *
  max-height 999999px //android font-size fix
  -webkit-font-smoothing antialiased
  margin 0
  padding 0
  border none
  vertical-align top
  box-sizing border-box
  outline none

section
  position relative

html
body
  width 100%
  height 100%
  min-width 320px

body
  font-family $fRoboto
  font-size 14px
  line-height 22px
  color $cBlack
  min-height 100%
  height 100%
  position relative
  -webkit-text-size-adjust 100% // ios font-size fix
  background rgba(23,23,23,1)

  &.fixed
    width 100vw
    height 100%
    overflow hidden

.page-wrap
  min-height 100%
  height 100%
  position relative
  min-width 320px
  width 100%
  overflow hidden

  &.auto-height
    @media tablet
      height auto

  &.hidden
    opacity 0

form,
p,
ul, ol,
dl, dt, dd,
h1, h2, h3, h4, h5, h6
  font-weight normal 
  list-style none

// .section

.pull-right
  float right

.pull-left
  float left

.text-center
  text-align center

.text-right
  text-align right

.width-wrap
  display block
  margin 0 auto
  width 1170px

  @media tablet
    width auto

  //@media netbook
  //  width 100%
  //  padding 0 60px
  //
  //@media mobile
  //  width 100%
  //  padding 0 25px

// отступы между горизонтальными li
ol, ul, .grid
  list-style none 
  font-size 0
  line-height 0
  letter-spacing -1px

li, .grid-item
  line-height normal
  letter-spacing normal
  display inline-block
  vertical-align top 
  zoom 1

.hidden-block
  display none !important

.justifyed
  display flex
  justify-content space-between
  flex-flow wrap

.vertical-center
  align-items center
  align-content center