a, p, span, li, input, time, blockquote, textarea
  font-family $fPoiret
  font-size 16px
  line-height 21px
  text-decoration none
  color $cWhite

  @media mobile
    font-size 14px

.fancybox-infobar
  span
    line-height 44px

*.fs20
  font-size 20px
  line-height 30px

  @media mobile
    font-size 18px
    line-height 24px

i
  font-style normal
  display block

a
  cursor pointer

h1
  font-family $fExo
  color $cBlack
  font-size 48px
  line-height 73px
  text-align left
  display block
  font-weight bold

h2
  display block
  font-size 56px
  line-height 56px
  font-family $fExo
  position relative
  color $cWhite
  text-transform uppercase
  font-weight normal

h3
  display block
  font-size 24px
  line-height 26px
  font-family $fExo
  position relative
  color $cWhite
  text-transform uppercase
  font-weight normal

  @media mobile
    font-size 16px
    line-height 20px

