main.space
  height 100%

  .fullpage

    &.hidden
      transform translate3d(0px, -200%, 0px) !important

  .inner-content
    position relative
    background url("../img/bg--inner-text-mobile.jpg") 50% 50% no-repeat
    background-size cover

    @media tablet
      background url("../img/bg--inner-text-mobile.jpg") 50% 50% no-repeat
      background-size cover


    .move
      position absolute
      right 0
      bottom 6vh
      width 270px
      border-bottom 1px solid $cRed
      padding-bottom 5px
      font-size 20px
      line-height 30px
      color $cWhite
      font-family $fPoiret
      padding-left 30px
      z-index 20

      @media tablet
        display inline-block
        vertical-align top
        right 0
        width 144px
        border-bottom none
        border-left 1px solid $cRed
        height 12vh
        line-height 11.5vh
        text-align center
        padding 0
        font-size 22px
        bottom 0
        padding-right 20px

      @media mobile
        width 75px
        font-size 12px
        height 10vh
        line-height 9.5vh
        padding-right 10px

  .space-overlay-top
    background url(../img/bg--space-top.png) no-repeat 50% 50%
    background-size cover

    @media mobile
      background url(../img/bg--space-top-mob.png) no-repeat 50% 50%
      background-size cover

  .section
    position relative

  .space-slider
    height 100%
    width 100vw
    overflow hidden
    z-index 10
    position relative

    @media tablet
      height 100%

    .slide
      height 100%
      width 100vw

  .space-overlay
    position absolute
    left 0
    top 0
    right 0
    bottom 0
    z-index 10

    @media tablet
      opacity 0

    .space-parallax
      position absolute
      left 50%
      top 50%
      transform translate3d(-50%, -50%, 0)

    .inner-overlay-middle
      background url(../img/bg--space-middle.jpg) no-repeat 50% 50%
      background-size cover
      position absolute
      left 0
      top 0
      right 0
      bottom 0

      @media tablet
        display none

      .width-wrap
        padding-top 0

        @media tablet
          position absolute
          height 100%

.space
  .inner-overlay.bg-black
    background #171717
    width 100%
    height 100%
    position absolute
    left 0
    top 0
    right 0
    bottom 0
    z-index 0

  .space-slider
    height 100%
    background transparent

    .owl-stage-outer
      height 100%

      .owl-stage
        height 100%

        .owl-item
          height 100%

    @media tablet
      background url(../img/bg--space-slider-mob.jpg) no-repeat 50% 50%
      background-size cover
      position relative

    .owl-next
      right: 15px;
      border-width: 38.5px 0 38.5px 34px;
      border-color: transparent transparent transparent #fff;
      position: absolute;
      z-index: 4;
      top: 50%;
      cursor: pointer;
      width: 0;
      height: 0;
      border-style: solid;
      margin-top: -38px;
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);

    .owl-prev
      left: 15px;
      border-width: 38.5px 34px 38.5px  0;
      border-color: transparent #fff transparent transparent ;
      position: absolute;
      z-index: 4;
      top: 50%;
      cursor: pointer;
      width: 0;
      height: 0;
      border-style: solid;
      margin-top: -38px;
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);

  .space-slider--el
    width 100%
    height 100%
    display flex
    justify-content center
    align-items center

    .space-content
      text-align center
      width 100%

      span
        display block
        width 100%
        text-align center
        font-family $fExo
        font-size 24px
        line-height 36px
        text-transform uppercase
        margin 2vh 0

        @media mobile
          font-size 16px

        &.number
          font-size 170px
          line-height 170px

          @media mobile
            font-size 130px
            line-height 130px

  .fp-slides
    width 100%
    height 100vh
    pointer-events none

    .slide.fp-slide
      .fp-tableCell
        width 100%
        height 100vh !important
        display flex
        justify-content center
        align-items center

        .space-content
          text-align center
          width 100%

          span
            display block
            width 100%
            text-align center
            font-family $fExo
            font-size 24px
            line-height 36px
            text-transform uppercase
            margin 2vh 0

            @media mobile
              font-size 20px

            &.number
              font-size 170px
              line-height 170px

              @media mobile
                font-size 150px
                line-height 150px

  .space-galery
    width 100%
    height 100%

    .space-filters
      position absolute
      right 0
      top 15vh
      z-index 30

      @media netbook
        top 8vh

      @media tablet
        top 5vh

      li
        display inline-block
        vertical-align top
        width 140px
        text-align center
        font-size 20px
        line-height 37px
        border-bottom 1px solid $cWhite
        transition all 0.1s ease-in-out
        cursor pointer

        @media mobile
          width 80px
          font-size 14px
          line-height 24px

        @media mobile_s
          width 70px

        &:hover
          color $cRed
          border-bottom 1px solid $cRed

        &:active
          color $cRed_active
          border-bottom 1px solid $cRed_active

        &.active
          cursor default
          color $cRed
          border-bottom 1px solid $cRed

    .width-wrap
      padding-top 25vh
      overflow hidden
      height 100%
      width 890px !important

      @media netbook
        width 890px !important
        margin 0 auto !important
        padding-right 0
        padding-left 0
        padding-top 20vh

      @media tablet
        width 600px !important
        margin 0 auto !important
        padding-right 0
        padding-left 0

      @media mobile
        width 270px !important
        margin 0 auto !important
        padding-top 20vh

  .space-content-wrap
    overflow-y scroll
    overflow-x hidden
    height calc(75vh + 20px)
    min-height 75vh
    margin-right -20px
    width auto
    display block

    @media tablet
      height 80vh

  .space-content-grid
    width auto

    .space-grid-el
      width 210px
      margin-bottom 10px

      @media netbook
        width 210px

      @media tablet
        width 194px

      @media mobile
        width 50%

      &.video
        a
          position relative

          &:after
            position absolute
            content ""
            left 0
            top 0
            right 0
            bottom 0
            z-index 10
            background rgba(0,0,0,0.6)

          &:before
            position absolute
            content ""
            z-index 15
            top 50%
            left 50%
            transform translate3d(-50%,-50%,0)
            width 0
            height 0
            border-style solid
            border-width 30px 0 30px 45px
            border-color transparent transparent transparent #952d26

      a
        display block
        margin-left 10px

        img
          display block
          width 100%
          z-index 5

        time
          position absolute
          left 0
          bottom 0
          padding 5px 10px 4px
          background rgba(23,23,23,0.85)
          color $cWhite
          font-family $fPoiret
          font-size 16px

          @media mobile
            font-stze 12px





