.btn
  box-sizing  border-box
  text-align center
  border none
  cursor pointer
  transition all .1s ease-in-out
  outline none
  display inline-block
  vertical-align top
  font-size 20px
  font-family $fExo_el
  color $cWhite
  text-transform uppercase

  @media tablets
    padding-top 20px
    padding-bottom 20px

  @media mobile
    font-size 14px
    line-height 16px
    padding 10px 0

  @media mobile_s
    font-size 12px
    line-height 14px

  &.disabled
    opacity 0.5
    pointer-events none

  &.btn-red
    background $cRed
    border 1px solid $cRed
    padding 15px 74px
    box-shadow 0 2px 5px rgba(0,0,0,0.5)

    @media mobile_s
      padding 10px 74px

    &:hover
      border 1px solid #762922
      background #762922
    &:active
      border 1px solid $cRed_active
      background $cRed_active

  &.btn-white-border
    background transparent
    border 1px solid rgba(255,255,255,0.12)
    padding 15px 36px

    @media mobile_s
      padding 10px 36px

    &:hover
      border 1px solid rgba(149,46,38,0.37)
    &:active
      border 1px solid rgba(149,46,38,0.37)
      color $cRed