.price
  display block
  width 100%
  height inherit
  position relative

  .tabs--content.tabs--content-action
    background url("../img/bg--price-action.jpg") no-repeat 50% 50%
    background-size cover

  .tabs-inner--content.tabs-inner--content-helmet
    background url(../img/bg--price-1.jpg) no-repeat 50% 50%
    background-size cover

    @media mobile
      background url(../img/bg--price-1-mob.jpg) no-repeat 50% 50%
      background-size cover

  .tabs-inner--content.tabs-inner--content-platform
    background url(../img/bg--price-2.jpg) no-repeat 50% 50%
    background-size cover

    @media mobile
      background url(../img/bg--price-2-mob.jpg) no-repeat 50% 50%
      background-size cover

  .tabs-inner--content.tabs-inner--content-lease
    background url(../img/bg--price-3.jpg) no-repeat 50% 50%
    background-size cover

    @media mobile
      background url(../img/bg--price-3-mob.jpg) no-repeat 50% 50%
      background-size cover

  .tabs-inner--content.tabs-inner--content-mobile
    background url(../img/bg--price-4.jpg) no-repeat 50% 50%
    background-size cover

    @media mobile
      background url(../img/bg--price-4-mob.jpg) no-repeat 50% 50%
      background-size cover

.inner-overlay-top.price-overlay
  background url(../img/bg--price-top.png) no-repeat 50% 50%
  background-size cover

  @media mobile
    background url(../img/bg--price-top-mob.jpg) no-repeat 50% 50%
    background-size cover


