block vars
    - var title='Title'

extends ../partials/layout

block content
    include  ../partials/sended

    section(id="filter").game-filter
        form(action="../js/ajax/filter.html" method="post").filter-form
            a(href="#filter").close-filter.js--close-block

            h3 Фильтр

            .filter-scroll-wrap
                .filter-scroll
                    .filter-section.filter-equipment
                        span.filter-section-title
                            img(src="../img/icon--joystick.svg" alt /)
                            =" Оборудование"

                        label.one-half.label-checkbox
                            input(type="radio" name="equipment" checked)
                            .psevdocheckbox
                            span  Шлем

                        label.one-half.label-checkbox
                            input(type="radio" name="equipment")
                            .psevdocheckbox
                            span Платформа

                    .filter-section
                        span.filter-section-title
                            img(src="../img/icon-players.svg" alt /)
                            =" Игроки"

                        div(data-min="1" data-max="6").slider-horisontal.filter-players
                            div(id="slider-players" data-min="1" data-max="6").inp-players
                            input(name="players").inp-players
                            ul.members-list
                                li.active.js--change-members 1
                                li.js--change-members   2
                                li.js--change-members    3
                                li.js--change-members     4
                                li.js--change-members      5
                                li.js--change-members      6


                    .filter-section
                        span.filter-section-title
                            img(src="../img/icon--settings.svg" alt /)
                            =" Параметры"

                        .justifyed
                            select(name="").select-styled.js--select-styled
                                option(selected) Нет оценки
                                option 1
                                option 2
                                option 3
                                option 4
                                option 5

                            .filter-age
                                label.label-radio
                                    input(type="radio" name="age" checked)
                                    span 0+
                                label.label-radio
                                    input(type="radio" name="age")
                                    span 12+
                                label.label-radio
                                    input(type="radio" name="age")
                                    span 16+
                                label.label-radio
                                    input(type="radio" name="age")
                                    span 18+
                    .filter-section
                        .filter-type
                            div
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Шутер
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Боевик
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Бродилка
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Аркада

                            div
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Лук
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Меч
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Огнестрел

                            div
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Зомби
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Космос
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Ограбление
                            div
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Шутер
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Боевик
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Бродилка
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Аркада

                            div
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Лук
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Меч
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Огнестрел

                            div
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Зомби
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Космос
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Ограбление
                            div
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Шутер
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Боевик
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Бродилка
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Аркада

                            div
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Лук
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Меч
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Огнестрел

                            div
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Зомби
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Космос
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Ограбление
                            div
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Шутер
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Боевик
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Бродилка
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Аркада

                            div
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Лук
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Меч
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Огнестрел

                            div
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Зомби
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Космос
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Ограбление
                            div
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Шутер
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Боевик
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Бродилка
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Аркада

                            div
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Лук
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Меч
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Огнестрел

                            div
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Зомби
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Космос
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Ограбление
                            div
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Шутер
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Боевик
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Бродилка
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Аркада

                            div
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Лук
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Меч
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Огнестрел

                            div
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Зомби
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Космос
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Ограбление
                            div
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Шутер
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Боевик
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Бродилка
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Аркада

                            div
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Лук
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Меч
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Огнестрел

                            div
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Зомби
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Космос
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Ограбление
                            div
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Шутер
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Боевик
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Бродилка
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Аркада

                            div
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Лук
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Меч
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Огнестрел

                            div
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Зомби
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Космос
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Ограбление
                            div
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Шутер
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Боевик
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Бродилка
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Аркада

                            div
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Лук
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Меч
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Огнестрел

                            div
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Зомби
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Космос
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Ограбление
                            div
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Шутер
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Боевик
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Бродилка
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Аркада

                            div
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Лук
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Меч
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Огнестрел

                            div
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Зомби
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Космос
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Ограбление
                            div
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Шутер
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Боевик
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Бродилка
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Аркада

                            div
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Лук
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Меч
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Огнестрел

                            div
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Зомби
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Космос
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Ограбление
                            div
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Шутер
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Боевик
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Бродилка
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Аркада

                            div
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Лук
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Меч
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Огнестрел

                            div
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Зомби
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Космос
                                label.label-checkbox
                                    input(type="checkbox" name="")
                                    span Ограбление

            .filter--btns
                a(href="").btn.btn-white-border.js--clear-filter Сброс
                a(href="").btn.btn-red.js--set-filter Применить

    section(id="demo").inner-popup.popup-booking
        a(href="#demo").close-popup.js--close-block

        form(action="../js/ajax/send.php" method="post").main-form.width-wrap
            input(type="text").hidden-block.inp-eq

            h3 мобильный VR

            .form-content
                h2 Введите телефон
                    i и&nbsp;комментарий к&nbsp;заявке

                .inputs
                    .justifyed
                        input(type="text" name="name" placeholder="Имя").inp.required
                        input(type="text" name="phone" placeholder="+7 (---) --- -- --").inp.inp-phone.required

                    textarea(name="message" placeholder="Комментарий").inp

            a(href="").btn.btn-red.js--form-submit Отправить

    section(id="info").game-info-container
        div(style="background: url(../img/img--games-l-1.jpg) no-repeat 50% 50%").game-info
            .width-wrap
                .game-info-scroll.scrollbar
                    .game-info--header
                        a(href="#info").close-game.js--close-block

                        .game-info--text
                            p шутер бродилка зомби эльф огнестрельное оружие команда холодное оружие спасение мира апокалипсис много крови

                        .justifyed
                            h2 PAYDAY 2

                            .circle-border
                                svg
                                    <!-- Степень заполнения круга регулируется первым параметром stroke-dasharray. Здесь 100% - это 314% (число пи, длина окружности, все дела), от 314 высчитываем какая длина в процентах должна быть.  -->
                                    path(stroke-dashoffset="0" stroke-dasharray="220% 314%" d="M53.39.27A52.48,52.48,0,0,1,104.6,52.56a52.48,52.48,0,0,1-51.21,52.07C24.63,105.15.31,81.59.25,52.56S24.55-.26,53.39.27Z")
                                    text(x="40" y="65") 4

                        span.game-info--params 16+  |  Шлем, Платформа  |  1-4 чел.  |  60мин+

                        .game-info--btns
                            a(href="#demo").btn.btn-white-border.js--open-block Бесплатная игра
                            a(href="#booking").btn.btn-red.js--open-block Играть

                    .justifyed
                        .game-info--about
                            h3 Описание

                            p Зомби-апокалипсис в&nbsp;виртуальной реальности! &laquo;Солнечная Аризона&raquo;&nbsp;&mdash; это шутер от&nbsp;первого лица, созданный исключительно для виртуальной реальности и&nbsp;погружающий вас в&nbsp;постапокалиптический мир юго-запада Америки, кишащий зомби...
                            .mobile-text
                                p Симулятор выживания среди зомби с&nbsp;полным эффектом присутствия: исследуйте окружающий мир, чтобы найти что-либо полезное даёт еще более полный эффект присутствия благодаря виртуальной реальности.
                                p Совместная многопользовательская игра: объединяйте усилия с&nbsp;друзьями в&nbsp;совместной кампании или многопользовательском режиме &laquo;Орда&raquo;, где могут принять участие до&nbsp;четырех игроков одновременно, но&nbsp;не&nbsp;забывайте: чем больше теплых мозгов, тем больше прожорливой нежити.

                            a(href="" data-open="Читать полностью" data-close="Скрыть описание").btn.btn-white-border.js--toggle-game-about Читать полностью

                        .game-info--visual
                            h3 Фото и видео

                            ul.photos
                                li
                                    a(href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" data-fancybox="").video
                                        img(src="../img/img--game-video-1.jpg" alt /)
                                li
                                    a(href="../img/img--game-photo-1.jpg" data-fancybox="game")
                                        img(src="../img/img--game-photo-1.jpg" alt /)
                                li
                                    a(href="../img/img--game-photo-2.jpg" data-fancybox="game")
                                        img(src="../img/img--game-photo-2.jpg" alt /)
                                li
                                    a(href="../img/img--game-photo-1.jpg" data-fancybox="game")
                                        img(src="../img/img--game-photo-1.jpg" alt /)
                                li
                                    a(href="../img/img--game-photo-2.jpg" data-fancybox="game")
                                        img(src="../img/img--game-photo-2.jpg" alt /)
                                li
                                    a(href="../img/img--game-photo-1.jpg" data-fancybox="game")
                                        img(src="../img/img--game-photo-1.jpg" alt /)
                                li
                                    a(href="../img/img--game-photo-2.jpg" data-fancybox="game")
                                        img(src="../img/img--game-photo-2.jpg" alt /)
                                li
                                    a(href="../img/img--game-photo-1.jpg" data-fancybox="game")
                                        img(src="../img/img--game-photo-1.jpg" alt /)
                                li
                                    a(href="../img/img--game-photo-2.jpg" data-fancybox="game")
                                        img(src="../img/img--game-photo-2.jpg" alt /)
                                li
                                    a(href="../img/img--game-photo-1.jpg" data-fancybox="game")
                                        img(src="../img/img--game-photo-1.jpg" alt /)
                                li
                                    a(href="../img/img--game-photo-2.jpg" data-fancybox="game")
                                        img(src="../img/img--game-photo-2.jpg" alt /)
                                li
                                    a(href="../img/img--game-photo-1.jpg" data-fancybox="game")
                                        img(src="../img/img--game-photo-1.jpg" alt /)
                                li
                                    a(href="../img/img--game-photo-2.jpg" data-fancybox="game")
                                        img(src="../img/img--game-photo-2.jpg" alt /)


    section.games
        include ../partials/header-games

        .games-arrows.hidden-block
            a(href="").arrow-right.js--game-next
            a(href="").arrow-left.js--game-prev

        .position-slider-container.contacts-panel.open
            .position-slider
            .open-panel.js--toggle-panel

        .games-slider-container
            .games-slider
                div(data-action="../js/ajax/showgame.php" data-method="post" data-bgdesktop="url(../img/img--games-s-1.jpg)" data-bgmobile="url(../img/img--games-s-1-mob.jpg)").games-slider--el.js--open-game
                    span.game-number 1

                    .game-content
                        .game-content-wrap
                            .slide-wrap
                                .game-content--top
                                    .game-content--age 16+
                                    ul.game-content--tags
                                        li шутер
                                        li бродилка
                                        li зомби
                                        li эльф
                                        li огнестрельное оружие
                                        li команда
                                        li холодное оружие
                                        li спасение

                            h2.game-content-name Payday 2

                            .slide-wrap
                                .game-content--middle.justifyed
                                    .game-content--rating
                                        .circle-border
                                            svg
                                                <!-- Степень заполнения круга регулируется первым параметром stroke-dasharray. Здесь 100% - это 314% (число пи, длина окружности, все дела), от 314 высчитываем какая длина в процентах должна быть.  -->
                                                path(stroke-dashoffset="0" stroke-dasharray="220% 314%" d="M53.39.27A52.48,52.48,0,0,1,104.6,52.56a52.48,52.48,0,0,1-51.21,52.07C24.63,105.15.31,81.59.25,52.56S24.55-.26,53.39.27Z")
                                                text(x="40" y="65") 4

                                        .justifyed
                                            span Всего
                                            span.strong 2564
                                                img(src="../img/icon--user.svg" alt /).icon-player

                                    .game-content--about
                                        p Ограбь банк! Дерзко, почти нагло! Адреналин зашкаливает: успеешь или попадешься?! Ставки очень высоки! И&nbsp;все зависит только от&nbsp;тебя и&nbsp;твоих подельников... Рискнешь?

                                .game-content--bottom
                                    ul.game-content--params.justifyed
                                        li
                                            img(src="../img/icon-players.svg" alt /).icon
                                            span 1-6 чел
                                        li
                                            img(src="../img/icon--joystick.svg" alt /).icon
                                            span шлем, платформа
                                        li
                                            img(src="../img/icon--clock.svg" alt /).icon
                                            span 30 мин+

                                    .game-content--btns
                                        a(href="" data-id="game_001" data-action="../js/ajax/get-game.html" data-method="post").btn.btn-white-border.js--game-info Об игре
                                        a(href="#booking").btn.btn-red.js--open-block Играть

                div(data-action="../js/ajax/showgame.php" data-method="post" data-bgdesktop="url(../img/img--games-s-2.jpg)" data-bgmobile="url(../img/img--games-s-2-mob.jpg)").games-slider--el.js--open-game
                    span.game-number 2

                    .game-content
                        .game-content-wrap
                            .slide-wrap
                                .game-content--top
                                    .game-content--age 16+
                                    ul.game-content--tags
                                        li шутер
                                        li бродилка
                                        li зомби
                                        li эльф
                                        li огнестрельное оружие
                                        li команда
                                        li холодное оружие
                                        li спасение

                            h2.game-content-name space pirate trainer

                            .slide-wrap
                                .game-content--middle.justifyed
                                    .game-content--rating
                                        .circle-border
                                            svg
                                                path(stroke-dashoffset="0" stroke-dasharray="280% 314%" d="M53.39.27A52.48,52.48,0,0,1,104.6,52.56a52.48,52.48,0,0,1-51.21,52.07C24.63,105.15.31,81.59.25,52.56S24.55-.26,53.39.27Z")
                                                text(x="30" y="65") 4.5

                                        .justifyed
                                            span Всего
                                            span.strong 2564
                                                img(src="../img/icon--user.svg" alt /).icon-player

                                    .game-content--about
                                        p Ограбь банк! Дерзко, почти нагло! Адреналин зашкаливает: успеешь или попадешься?! Ставки очень высоки! И&nbsp;все зависит только от&nbsp;тебя и&nbsp;твоих подельников... Рискнешь?

                                .game-content--bottom
                                    ul.game-content--params.justifyed
                                        li
                                            img(src="../img/icon-players.svg" alt /).icon
                                            span 1-6 чел
                                        li
                                            img(src="../img/icon--joystick.svg" alt /).icon
                                            span шлем, платформа
                                        li
                                            img(src="../img/icon--clock.svg" alt /).icon
                                            span 30 мин+

                                    .game-content--btns
                                        a(href="" data-id="game_002" data-action="../js/ajax/get-game.html" data-method="post").btn.btn-white-border.js--game-info Об игре
                                        a(href="#booking").btn.btn-red.js--open-block Играть

                div(data-action="../js/ajax/showgame.php" data-method="post" data-bgdesktop="url(../img/img--games-s-3.jpg)" data-bgmobile="url(../img/img--games-s-3-mob.jpg)").games-slider--el.js--open-game
                    span.game-number 3

                    .game-content
                        .game-content-wrap
                            .slide-wrap
                                .game-content--top
                                    .game-content--age 16+
                                    ul.game-content--tags
                                        li шутер
                                        li бродилка
                                        li зомби
                                        li эльф
                                        li огнестрельное оружие
                                        li команда
                                        li холодное оружие
                                        li спасение

                            h2.game-content-name assasin's creed

                            .slide-wrap
                                .game-content--middle.justifyed
                                    .game-content--rating
                                        .circle-border
                                            svg
                                                path(stroke-dashoffset="0" stroke-dasharray="180% 314%" d="M53.39.27A52.48,52.48,0,0,1,104.6,52.56a52.48,52.48,0,0,1-51.21,52.07C24.63,105.15.31,81.59.25,52.56S24.55-.26,53.39.27Z")
                                                text(x="40" y="65") 3

                                        .justifyed
                                            span Всего
                                            span.strong 2564
                                                img(src="../img/icon--user.svg" alt /).icon-player

                                    .game-content--about
                                        p Ограбь банк! Дерзко, почти нагло! Адреналин зашкаливает: успеешь или попадешься?! Ставки очень высоки! И&nbsp;все зависит только от&nbsp;тебя и&nbsp;твоих подельников... Рискнешь?

                                .game-content--bottom
                                    ul.game-content--params.justifyed
                                        li
                                            img(src="../img/icon-players.svg" alt /).icon
                                            span 1-6 чел
                                        li
                                            img(src="../img/icon--joystick.svg" alt /).icon
                                            span шлем, платформа
                                        li
                                            img(src="../img/icon--clock.svg" alt /).icon
                                            span 30 мин+

                                    .game-content--btns
                                        a(href="" data-id="game_003" data-action="../js/ajax/get-game.html" data-method="post").btn.btn-white-border.js--game-info Об игре
                                        a(href="#booking").btn.btn-red.js--open-block Играть


                div(data-action="../js/ajax/showgame.php" data-method="post" data-bgdesktop="url(../img/img--games-s-4).jpg" data-bgmobile="url(../img/img--games-s-4-mob.jpg)").games-slider--el.js--open-game
                    span.game-number 4
                div(data-action="../js/ajax/showgame.php" data-method="post" data-bgdesktop="url(../img/img--games-s-1.jpg)" data-bgmobile="url(../img/img--games-s-1-mob.jpg)").games-slider--el.js--open-game
                    span.game-number 5

                    .game-content
                        .game-content-wrap
                            .slide-wrap
                                .game-content--top
                                    .game-content--age 16+
                                    ul.game-content--tags
                                        li шутер
                                        li бродилка
                                        li зомби
                                        li эльф
                                        li огнестрельное оружие
                                        li команда
                                        li холодное оружие
                                        li спасение

                            h2.game-content-name Payday 2

                            .slide-wrap
                                .game-content--middle.justifyed
                                    .game-content--rating
                                        .circle-border
                                            svg
                                                <!-- Степень заполнения круга регулируется первым параметром stroke-dasharray. Здесь 100% - это 314% (число пи, длина окружности, все дела), от 314 высчитываем какая длина в процентах должна быть.  -->
                                                path(stroke-dashoffset="0" stroke-dasharray="220% 314%" d="M53.39.27A52.48,52.48,0,0,1,104.6,52.56a52.48,52.48,0,0,1-51.21,52.07C24.63,105.15.31,81.59.25,52.56S24.55-.26,53.39.27Z")
                                                text(x="40" y="65") 4

                                        .justifyed
                                            span Всего
                                            span.strong 2564
                                                img(src="../img/icon--user.svg" alt /).icon-player

                                    .game-content--about
                                        p Ограбь банк! Дерзко, почти нагло! Адреналин зашкаливает: успеешь или попадешься?! Ставки очень высоки! И&nbsp;все зависит только от&nbsp;тебя и&nbsp;твоих подельников... Рискнешь?

                                .game-content--bottom
                                    ul.game-content--params.justifyed
                                        li
                                            img(src="../img/icon-players.svg" alt /).icon
                                            span 1-6 чел
                                        li
                                            img(src="../img/icon--joystick.svg" alt /).icon
                                            span шлем, платформа
                                        li
                                            img(src="../img/icon--clock.svg" alt /).icon
                                            span 30 мин+

                                    .game-content--btns
                                        a(href="" data-id="game_001" data-action="../js/ajax/get-game.html" data-method="post").btn.btn-white-border.js--game-info Об игре
                                        a(href="#booking").btn.btn-red.js--open-block Играть

                div(data-action="../js/ajax/showgame.php" data-method="post" data-bgdesktop="url(../img/img--games-s-2.jpg)" data-bgmobile="url(../img/img--games-s-2-mob.jpg)").games-slider--el.js--open-game
                    span.game-number 6

                    .game-content
                        .game-content-wrap
                            .slide-wrap
                                .game-content--top
                                    .game-content--age 16+
                                    ul.game-content--tags
                                        li шутер
                                        li бродилка
                                        li зомби
                                        li эльф
                                        li огнестрельное оружие
                                        li команда
                                        li холодное оружие
                                        li спасение

                            h2.game-content-name space pirate trainer

                            .slide-wrap
                                .game-content--middle.justifyed
                                    .game-content--rating
                                        .circle-border
                                            svg
                                                path(stroke-dashoffset="0" stroke-dasharray="280% 314%" d="M53.39.27A52.48,52.48,0,0,1,104.6,52.56a52.48,52.48,0,0,1-51.21,52.07C24.63,105.15.31,81.59.25,52.56S24.55-.26,53.39.27Z")
                                                text(x="30" y="65") 4.5

                                        .justifyed
                                            span Всего
                                            span.strong 2564
                                                img(src="../img/icon--user.svg" alt /).icon-player

                                    .game-content--about
                                        p Ограбь банк! Дерзко, почти нагло! Адреналин зашкаливает: успеешь или попадешься?! Ставки очень высоки! И&nbsp;все зависит только от&nbsp;тебя и&nbsp;твоих подельников... Рискнешь?

                                .game-content--bottom
                                    ul.game-content--params.justifyed
                                        li
                                            img(src="../img/icon-players.svg" alt /).icon
                                            span 1-6 чел
                                        li
                                            img(src="../img/icon--joystick.svg" alt /).icon
                                            span шлем, платформа
                                        li
                                            img(src="../img/icon--clock.svg" alt /).icon
                                            span 30 мин+

                                    .game-content--btns
                                        a(href="" data-id="game_002" data-action="../js/ajax/get-game.html" data-method="post").btn.btn-white-border.js--game-info Об игре
                                        a(href="#booking").btn.btn-red.js--open-block Играть

                div(data-action="../js/ajax/showgame.php" data-method="post" data-bgdesktop="url(../img/img--games-s-3.jpg)" data-bgmobile="url(../img/img--games-s-3-mob.jpg)").games-slider--el.js--open-game
                    span.game-number 7

                    .game-content
                        .game-content-wrap
                            .slide-wrap
                                .game-content--top
                                    .game-content--age 16+
                                    ul.game-content--tags
                                        li шутер
                                        li бродилка
                                        li зомби
                                        li эльф
                                        li огнестрельное оружие
                                        li команда
                                        li холодное оружие
                                        li спасение

                            h2.game-content-name assasin's creed

                            .slide-wrap
                                .game-content--middle.justifyed
                                    .game-content--rating
                                        .circle-border
                                            svg
                                                path(stroke-dashoffset="0" stroke-dasharray="180% 314%" d="M53.39.27A52.48,52.48,0,0,1,104.6,52.56a52.48,52.48,0,0,1-51.21,52.07C24.63,105.15.31,81.59.25,52.56S24.55-.26,53.39.27Z")
                                                text(x="40" y="65") 3

                                        .justifyed
                                            span Всего
                                            span.strong 2564
                                                img(src="../img/icon--user.svg" alt /).icon-player

                                    .game-content--about
                                        p Ограбь банк! Дерзко, почти нагло! Адреналин зашкаливает: успеешь или попадешься?! Ставки очень высоки! И&nbsp;все зависит только от&nbsp;тебя и&nbsp;твоих подельников... Рискнешь?

                                .game-content--bottom
                                    ul.game-content--params.justifyed
                                        li
                                            img(src="../img/icon-players.svg" alt /).icon
                                            span 1-6 чел
                                        li
                                            img(src="../img/icon--joystick.svg" alt /).icon
                                            span шлем, платформа
                                        li
                                            img(src="../img/icon--clock.svg" alt /).icon
                                            span 30 мин+

                                    .game-content--btns
                                        a(href="" data-id="game_003" data-action="../js/ajax/get-game.html" data-method="post").btn.btn-white-border.js--game-info Об игре
                                        a(href="#booking").btn.btn-red.js--open-block Играть


                div(data-action="../js/ajax/showgame.php" data-method="post" data-bgdesktop="url(../img/img--games-s-4).jpg" data-bgmobile="url(../img/img--games-s-4-mob.jpg)").games-slider--el.js--open-game
                    span.game-number 8
                div(data-action="../js/ajax/showgame.php" data-method="post" data-bgdesktop="url(../img/img--games-s-1.jpg)" data-bgmobile="url(../img/img--games-s-1-mob.jpg)").games-slider--el.js--open-game
                    span.game-number 9

                    .game-content
                        .game-content-wrap
                            .slide-wrap
                                .game-content--top
                                    .game-content--age 16+
                                    ul.game-content--tags
                                        li шутер
                                        li бродилка
                                        li зомби
                                        li эльф
                                        li огнестрельное оружие
                                        li команда
                                        li холодное оружие
                                        li спасение

                            h2.game-content-name Payday 2

                            .slide-wrap
                                .game-content--middle.justifyed
                                    .game-content--rating
                                        .circle-border
                                            svg
                                                <!-- Степень заполнения круга регулируется первым параметром stroke-dasharray. Здесь 100% - это 314% (число пи, длина окружности, все дела), от 314 высчитываем какая длина в процентах должна быть.  -->
                                                path(stroke-dashoffset="0" stroke-dasharray="220% 314%" d="M53.39.27A52.48,52.48,0,0,1,104.6,52.56a52.48,52.48,0,0,1-51.21,52.07C24.63,105.15.31,81.59.25,52.56S24.55-.26,53.39.27Z")
                                                text(x="40" y="65") 4

                                        .justifyed
                                            span Всего
                                            span.strong 2564
                                                img(src="../img/icon--user.svg" alt /).icon-player

                                    .game-content--about
                                        p Ограбь банк! Дерзко, почти нагло! Адреналин зашкаливает: успеешь или попадешься?! Ставки очень высоки! И&nbsp;все зависит только от&nbsp;тебя и&nbsp;твоих подельников... Рискнешь?

                                .game-content--bottom
                                    ul.game-content--params.justifyed
                                        li
                                            img(src="../img/icon-players.svg" alt /).icon
                                            span 1-6 чел
                                        li
                                            img(src="../img/icon--joystick.svg" alt /).icon
                                            span шлем, платформа
                                        li
                                            img(src="../img/icon--clock.svg" alt /).icon
                                            span 30 мин+

                                    .game-content--btns
                                        a(href="" data-id="game_001" data-action="../js/ajax/get-game.html" data-method="post").btn.btn-white-border.js--game-info Об игре
                                        a(href="#booking").btn.btn-red.js--open-block Играть

                div(data-action="../js/ajax/showgame.php" data-method="post" data-bgdesktop="url(../img/img--games-s-2.jpg)" data-bgmobile="url(../img/img--games-s-2-mob.jpg)").games-slider--el.js--open-game
                    span.game-number 10

                    .game-content
                        .game-content-wrap
                            .slide-wrap
                                .game-content--top
                                    .game-content--age 16+
                                    ul.game-content--tags
                                        li шутер
                                        li бродилка
                                        li зомби
                                        li эльф
                                        li огнестрельное оружие
                                        li команда
                                        li холодное оружие
                                        li спасение

                            h2.game-content-name space pirate trainer

                            .slide-wrap
                                .game-content--middle.justifyed
                                    .game-content--rating
                                        .circle-border
                                            svg
                                                path(stroke-dashoffset="0" stroke-dasharray="280% 314%" d="M53.39.27A52.48,52.48,0,0,1,104.6,52.56a52.48,52.48,0,0,1-51.21,52.07C24.63,105.15.31,81.59.25,52.56S24.55-.26,53.39.27Z")
                                                text(x="30" y="65") 4.5

                                        .justifyed
                                            span Всего
                                            span.strong 2564
                                                img(src="../img/icon--user.svg" alt /).icon-player

                                    .game-content--about
                                        p Ограбь банк! Дерзко, почти нагло! Адреналин зашкаливает: успеешь или попадешься?! Ставки очень высоки! И&nbsp;все зависит только от&nbsp;тебя и&nbsp;твоих подельников... Рискнешь?

                                .game-content--bottom
                                    ul.game-content--params.justifyed
                                        li
                                            img(src="../img/icon-players.svg" alt /).icon
                                            span 1-6 чел
                                        li
                                            img(src="../img/icon--joystick.svg" alt /).icon
                                            span шлем, платформа
                                        li
                                            img(src="../img/icon--clock.svg" alt /).icon
                                            span 30 мин+

                                    .game-content--btns
                                        a(href="" data-id="game_002" data-action="../js/ajax/get-game.html" data-method="post").btn.btn-white-border.js--game-info Об игре
                                        a(href="#booking").btn.btn-red.js--open-block Играть

                div(data-action="../js/ajax/showgame.php" data-method="post" data-bgdesktop="url(../img/img--games-s-3.jpg)" data-bgmobile="url(../img/img--games-s-3-mob.jpg)").games-slider--el.js--open-game
                    span.game-number 11

                    .game-content
                        .game-content-wrap
                            .slide-wrap
                                .game-content--top
                                    .game-content--age 16+
                                    ul.game-content--tags
                                        li шутер
                                        li бродилка
                                        li зомби
                                        li эльф
                                        li огнестрельное оружие
                                        li команда
                                        li холодное оружие
                                        li спасение

                            h2.game-content-name assasin's creed

                            .slide-wrap
                                .game-content--middle.justifyed
                                    .game-content--rating
                                        .circle-border
                                            svg
                                                path(stroke-dashoffset="0" stroke-dasharray="180% 314%" d="M53.39.27A52.48,52.48,0,0,1,104.6,52.56a52.48,52.48,0,0,1-51.21,52.07C24.63,105.15.31,81.59.25,52.56S24.55-.26,53.39.27Z")
                                                text(x="40" y="65") 3

                                        .justifyed
                                            span Всего
                                            span.strong 2564
                                                img(src="../img/icon--user.svg" alt /).icon-player

                                    .game-content--about
                                        p Ограбь банк! Дерзко, почти нагло! Адреналин зашкаливает: успеешь или попадешься?! Ставки очень высоки! И&nbsp;все зависит только от&nbsp;тебя и&nbsp;твоих подельников... Рискнешь?

                                .game-content--bottom
                                    ul.game-content--params.justifyed
                                        li
                                            img(src="../img/icon-players.svg" alt /).icon
                                            span 1-6 чел
                                        li
                                            img(src="../img/icon--joystick.svg" alt /).icon
                                            span шлем, платформа
                                        li
                                            img(src="../img/icon--clock.svg" alt /).icon
                                            span 30 мин+

                                    .game-content--btns
                                        a(href="" data-id="game_003" data-action="../js/ajax/get-game.html" data-method="post").btn.btn-white-border.js--game-info Об игре
                                        a(href="#booking").btn.btn-red.js--open-block Играть


                div(data-action="../js/ajax/showgame.php" data-method="post" data-bgdesktop="url(../img/img--games-s-4).jpg" data-bgmobile="url(../img/img--games-s-4-mob.jpg)").games-slider--el.js--open-game
                    span.game-number 12
                div(data-action="../js/ajax/showgame.php" data-method="post" data-bgdesktop="url(../img/img--games-s-1.jpg)" data-bgmobile="url(../img/img--games-s-1-mob.jpg)").games-slider--el.js--open-game
                    span.game-number 13

                    .game-content
                        .game-content-wrap
                            .slide-wrap
                                .game-content--top
                                    .game-content--age 16+
                                    ul.game-content--tags
                                        li шутер
                                        li бродилка
                                        li зомби
                                        li эльф
                                        li огнестрельное оружие
                                        li команда
                                        li холодное оружие
                                        li спасение

                            h2.game-content-name Payday 2

                            .slide-wrap
                                .game-content--middle.justifyed
                                    .game-content--rating
                                        .circle-border
                                            svg
                                                <!-- Степень заполнения круга регулируется первым параметром stroke-dasharray. Здесь 100% - это 314% (число пи, длина окружности, все дела), от 314 высчитываем какая длина в процентах должна быть.  -->
                                                path(stroke-dashoffset="0" stroke-dasharray="220% 314%" d="M53.39.27A52.48,52.48,0,0,1,104.6,52.56a52.48,52.48,0,0,1-51.21,52.07C24.63,105.15.31,81.59.25,52.56S24.55-.26,53.39.27Z")
                                                text(x="40" y="65") 4

                                        .justifyed
                                            span Всего
                                            span.strong 2564
                                                img(src="../img/icon--user.svg" alt /).icon-player

                                    .game-content--about
                                        p Ограбь банк! Дерзко, почти нагло! Адреналин зашкаливает: успеешь или попадешься?! Ставки очень высоки! И&nbsp;все зависит только от&nbsp;тебя и&nbsp;твоих подельников... Рискнешь?

                                .game-content--bottom
                                    ul.game-content--params.justifyed
                                        li
                                            img(src="../img/icon-players.svg" alt /).icon
                                            span 1-6 чел
                                        li
                                            img(src="../img/icon--joystick.svg" alt /).icon
                                            span шлем, платформа
                                        li
                                            img(src="../img/icon--clock.svg" alt /).icon
                                            span 30 мин+

                                    .game-content--btns
                                        a(href="" data-id="game_001" data-action="../js/ajax/get-game.html" data-method="post").btn.btn-white-border.js--game-info Об игре
                                        a(href="#booking").btn.btn-red.js--open-block Играть

                div(data-action="../js/ajax/showgame.php" data-method="post" data-bgdesktop="url(../img/img--games-s-2.jpg)" data-bgmobile="url(../img/img--games-s-2-mob.jpg)").games-slider--el.js--open-game
                    span.game-number 14

                    .game-content
                        .game-content-wrap
                            .slide-wrap
                                .game-content--top
                                    .game-content--age 16+
                                    ul.game-content--tags
                                        li шутер
                                        li бродилка
                                        li зомби
                                        li эльф
                                        li огнестрельное оружие
                                        li команда
                                        li холодное оружие
                                        li спасение

                            h2.game-content-name space pirate trainer

                            .slide-wrap
                                .game-content--middle.justifyed
                                    .game-content--rating
                                        .circle-border
                                            svg
                                                path(stroke-dashoffset="0" stroke-dasharray="280% 314%" d="M53.39.27A52.48,52.48,0,0,1,104.6,52.56a52.48,52.48,0,0,1-51.21,52.07C24.63,105.15.31,81.59.25,52.56S24.55-.26,53.39.27Z")
                                                text(x="30" y="65") 4.5

                                        .justifyed
                                            span Всего
                                            span.strong 2564
                                                img(src="../img/icon--user.svg" alt /).icon-player

                                    .game-content--about
                                        p Ограбь банк! Дерзко, почти нагло! Адреналин зашкаливает: успеешь или попадешься?! Ставки очень высоки! И&nbsp;все зависит только от&nbsp;тебя и&nbsp;твоих подельников... Рискнешь?

                                .game-content--bottom
                                    ul.game-content--params.justifyed
                                        li
                                            img(src="../img/icon-players.svg" alt /).icon
                                            span 1-6 чел
                                        li
                                            img(src="../img/icon--joystick.svg" alt /).icon
                                            span шлем, платформа
                                        li
                                            img(src="../img/icon--clock.svg" alt /).icon
                                            span 30 мин+

                                    .game-content--btns
                                        a(href="" data-id="game_002" data-action="../js/ajax/get-game.html" data-method="post").btn.btn-white-border.js--game-info Об игре
                                        a(href="#booking").btn.btn-red.js--open-block Играть

                div(data-action="../js/ajax/showgame.php" data-method="post" data-bgdesktop="url(../img/img--games-s-3.jpg)" data-bgmobile="url(../img/img--games-s-3-mob.jpg)").games-slider--el.js--open-game
                    span.game-number 15

                    .game-content
                        .game-content-wrap
                            .slide-wrap
                                .game-content--top
                                    .game-content--age 16+
                                    ul.game-content--tags
                                        li шутер
                                        li бродилка
                                        li зомби
                                        li эльф
                                        li огнестрельное оружие
                                        li команда
                                        li холодное оружие
                                        li спасение

                            h2.game-content-name assasin's creed

                            .slide-wrap
                                .game-content--middle.justifyed
                                    .game-content--rating
                                        .circle-border
                                            svg
                                                path(stroke-dashoffset="0" stroke-dasharray="180% 314%" d="M53.39.27A52.48,52.48,0,0,1,104.6,52.56a52.48,52.48,0,0,1-51.21,52.07C24.63,105.15.31,81.59.25,52.56S24.55-.26,53.39.27Z")
                                                text(x="40" y="65") 3

                                        .justifyed
                                            span Всего
                                            span.strong 2564
                                                img(src="../img/icon--user.svg" alt /).icon-player

                                    .game-content--about
                                        p Ограбь банк! Дерзко, почти нагло! Адреналин зашкаливает: успеешь или попадешься?! Ставки очень высоки! И&nbsp;все зависит только от&nbsp;тебя и&nbsp;твоих подельников... Рискнешь?

                                .game-content--bottom
                                    ul.game-content--params.justifyed
                                        li
                                            img(src="../img/icon-players.svg" alt /).icon
                                            span 1-6 чел
                                        li
                                            img(src="../img/icon--joystick.svg" alt /).icon
                                            span шлем, платформа
                                        li
                                            img(src="../img/icon--clock.svg" alt /).icon
                                            span 30 мин+

                                    .game-content--btns
                                        a(href="" data-id="game_003" data-action="../js/ajax/get-game.html" data-method="post").btn.btn-white-border.js--game-info Об игре
                                        a(href="#booking").btn.btn-red.js--open-block Играть


                div(data-action="../js/ajax/showgame.php" data-method="post" data-bgdesktop="url(../img/img--games-s-4).jpg" data-bgmobile="url(../img/img--games-s-4-mob.jpg)").games-slider--el.js--open-game
                    span.game-number 16
                div(data-action="../js/ajax/showgame.php" data-method="post" data-bgdesktop="url(../img/img--games-s-1.jpg)" data-bgmobile="url(../img/img--games-s-1-mob.jpg)").games-slider--el.js--open-game
                    span.game-number 17

                    .game-content
                        .game-content-wrap
                            .slide-wrap
                                .game-content--top
                                    .game-content--age 16+
                                    ul.game-content--tags
                                        li шутер
                                        li бродилка
                                        li зомби
                                        li эльф
                                        li огнестрельное оружие
                                        li команда
                                        li холодное оружие
                                        li спасение

                            h2.game-content-name Payday 2

                            .slide-wrap
                                .game-content--middle.justifyed
                                    .game-content--rating
                                        .circle-border
                                            svg
                                                <!-- Степень заполнения круга регулируется первым параметром stroke-dasharray. Здесь 100% - это 314% (число пи, длина окружности, все дела), от 314 высчитываем какая длина в процентах должна быть.  -->
                                                path(stroke-dashoffset="0" stroke-dasharray="220% 314%" d="M53.39.27A52.48,52.48,0,0,1,104.6,52.56a52.48,52.48,0,0,1-51.21,52.07C24.63,105.15.31,81.59.25,52.56S24.55-.26,53.39.27Z")
                                                text(x="40" y="65") 4

                                        .justifyed
                                            span Всего
                                            span.strong 2564
                                                img(src="../img/icon--user.svg" alt /).icon-player

                                    .game-content--about
                                        p Ограбь банк! Дерзко, почти нагло! Адреналин зашкаливает: успеешь или попадешься?! Ставки очень высоки! И&nbsp;все зависит только от&nbsp;тебя и&nbsp;твоих подельников... Рискнешь?

                                .game-content--bottom
                                    ul.game-content--params.justifyed
                                        li
                                            img(src="../img/icon-players.svg" alt /).icon
                                            span 1-6 чел
                                        li
                                            img(src="../img/icon--joystick.svg" alt /).icon
                                            span шлем, платформа
                                        li
                                            img(src="../img/icon--clock.svg" alt /).icon
                                            span 30 мин+

                                    .game-content--btns
                                        a(href="" data-id="game_001" data-action="../js/ajax/get-game.html" data-method="post").btn.btn-white-border.js--game-info Об игре
                                        a(href="#booking").btn.btn-red.js--open-block Играть

                div(data-action="../js/ajax/showgame.php" data-method="post" data-bgdesktop="url(../img/img--games-s-2.jpg)" data-bgmobile="url(../img/img--games-s-2-mob.jpg)").games-slider--el.js--open-game
                    span.game-number 18

                    .game-content
                        .game-content-wrap
                            .slide-wrap
                                .game-content--top
                                    .game-content--age 16+
                                    ul.game-content--tags
                                        li шутер
                                        li бродилка
                                        li зомби
                                        li эльф
                                        li огнестрельное оружие
                                        li команда
                                        li холодное оружие
                                        li спасение

                            h2.game-content-name space pirate trainer

                            .slide-wrap
                                .game-content--middle.justifyed
                                    .game-content--rating
                                        .circle-border
                                            svg
                                                path(stroke-dashoffset="0" stroke-dasharray="280% 314%" d="M53.39.27A52.48,52.48,0,0,1,104.6,52.56a52.48,52.48,0,0,1-51.21,52.07C24.63,105.15.31,81.59.25,52.56S24.55-.26,53.39.27Z")
                                                text(x="30" y="65") 4.5

                                        .justifyed
                                            span Всего
                                            span.strong 2564
                                                img(src="../img/icon--user.svg" alt /).icon-player

                                    .game-content--about
                                        p Ограбь банк! Дерзко, почти нагло! Адреналин зашкаливает: успеешь или попадешься?! Ставки очень высоки! И&nbsp;все зависит только от&nbsp;тебя и&nbsp;твоих подельников... Рискнешь?

                                .game-content--bottom
                                    ul.game-content--params.justifyed
                                        li
                                            img(src="../img/icon-players.svg" alt /).icon
                                            span 1-6 чел
                                        li
                                            img(src="../img/icon--joystick.svg" alt /).icon
                                            span шлем, платформа
                                        li
                                            img(src="../img/icon--clock.svg" alt /).icon
                                            span 30 мин+

                                    .game-content--btns
                                        a(href="" data-id="game_002" data-action="../js/ajax/get-game.html" data-method="post").btn.btn-white-border.js--game-info Об игре
                                        a(href="#booking").btn.btn-red.js--open-block Играть

                div(data-action="../js/ajax/showgame.php" data-method="post" data-bgdesktop="url(../img/img--games-s-3.jpg)" data-bgmobile="url(../img/img--games-s-3-mob.jpg)").games-slider--el.js--open-game
                    span.game-number 19

                    .game-content
                        .game-content-wrap
                            .slide-wrap
                                .game-content--top
                                    .game-content--age 16+
                                    ul.game-content--tags
                                        li шутер
                                        li бродилка
                                        li зомби
                                        li эльф
                                        li огнестрельное оружие
                                        li команда
                                        li холодное оружие
                                        li спасение

                            h2.game-content-name assasin's creed

                            .slide-wrap
                                .game-content--middle.justifyed
                                    .game-content--rating
                                        .circle-border
                                            svg
                                                path(stroke-dashoffset="0" stroke-dasharray="180% 314%" d="M53.39.27A52.48,52.48,0,0,1,104.6,52.56a52.48,52.48,0,0,1-51.21,52.07C24.63,105.15.31,81.59.25,52.56S24.55-.26,53.39.27Z")
                                                text(x="40" y="65") 3

                                        .justifyed
                                            span Всего
                                            span.strong 2564
                                                img(src="../img/icon--user.svg" alt /).icon-player

                                    .game-content--about
                                        p Ограбь банк! Дерзко, почти нагло! Адреналин зашкаливает: успеешь или попадешься?! Ставки очень высоки! И&nbsp;все зависит только от&nbsp;тебя и&nbsp;твоих подельников... Рискнешь?

                                .game-content--bottom
                                    ul.game-content--params.justifyed
                                        li
                                            img(src="../img/icon-players.svg" alt /).icon
                                            span 1-6 чел
                                        li
                                            img(src="../img/icon--joystick.svg" alt /).icon
                                            span шлем, платформа
                                        li
                                            img(src="../img/icon--clock.svg" alt /).icon
                                            span 30 мин+

                                    .game-content--btns
                                        a(href="" data-id="game_003" data-action="../js/ajax/get-game.html" data-method="post").btn.btn-white-border.js--game-info Об игре
                                        a(href="#booking").btn.btn-red.js--open-block Играть


                div(data-action="../js/ajax/showgame.php" data-method="post" data-bgdesktop="url(../img/img--games-s-4).jpg" data-bgmobile="url(../img/img--games-s-4-mob.jpg)").games-slider--el.js--open-game
                    span.game-number 20

    include ../partials/booking