section(id="notification").params-popup
    h3 Бронирование

    .popup-content
        span.fs20 Вы можете назначить промежуток времени,
            i отметив несколько временных точек.

        .time
            img(src="../img/time.gif" alt /)

    a(href="#notification").btn.btn-red.js--close-block Понятно

section(id="booking").index-booking.section-booking
    a(href="#booking").close-popup.js--close-block

    .width-wrap
        <!-- form-booking ставить только для формы бронирования с последующим переходом на страницу оплаты -->
        form(action="../js/ajax/booking.php" method="post").main-form.tabs.form-booking
            h3 Бронирование

            .justifyed.tabs-nav
                ul.tabs--caption
                    li.active
                    li
                    li
                    li
                    li

                span.step 1
                    = " "
                    i —
                    = " 5"

            .tabs--content-wrap
                .tabs--content.active
                    .scroll-wrap.scrollbar
                        .index-booking-condition
                            h2 Ознакомьтесь
                                i с условиями

                            .justifyed
                                .index-booking-condition--el
                                    img(src="../img/icon--condition-1.svg" alt /)
                                    p В&nbsp;будни и&nbsp;выходные цена одна!
                                        i Всё зависит от&nbsp;выбора оборудования.&nbsp;А также от&nbsp;Акций и&nbsp;скидок, которые мы&nbsp;очень часто проводим и&nbsp;внедряем.

                                .index-booking-condition--el
                                    img(src="../img/icon--condition-2.svg" alt /)
                                    p Предоплата 100%.
                                        i Отменить бронь с&nbsp;возвратом оплаты можно за&nbsp;два дня до&nbsp;игры. Если вы&nbsp;отменяете бронь за&nbsp;день или в&nbsp;день игры, а&nbsp;также просто не&nbsp;приходите&nbsp;&mdash; оплата не&nbsp;возвращается.

                .tabs--content
                    .scroll-wrap.scrollbar
                        .index-booking-equipment
                            h2 Выберите
                                i оборудование

                            .justifyed
                                label.one-third
                                    h3 vr шлем

                                    .labels
                                        .label-top
                                            .justifyed
                                                span 30 минут:
                                                span
                                                    strong 500 руб.
                                            .justifyed
                                                span 60 минут:
                                                span
                                                    strong 1000 руб.

                                        .label-bottom
                                            .justifyed
                                                span Комплект:
                                                span
                                                    strong Шлем+Пульты
                                            .justifyed
                                                span Игры:
                                                span
                                                    strong Для шлема

                                    input(type="radio" name="equipment" value="шлем" checked).hidden-block.js--change-eq
                                    .psevdocheckbox

                                label.one-third
                                    h3 vr платформа

                                    .labels
                                        .label-top
                                            .justifyed
                                                span 30 минут:
                                                span
                                                    strong 500 руб.
                                            .justifyed
                                                span 60 минут:
                                                span
                                                    strong 1000 руб.

                                        .label-bottom
                                            .justifyed
                                                span Комплект:
                                                span
                                                    strong Шлем+Пульты
                                            .justifyed
                                                span Игры:
                                                span
                                                    strong Для шлема

                                    input(type="radio" name="equipment" value="платформа").hidden-block.js--change-eq
                                    .psevdocheckbox

                                label.one-third
                                    h3 Аренда пространства

                                    .labels
                                        .label-top
                                            .justifyed
                                                span 2 час
                                                span
                                                    strong 500 руб.
                                            .justifyed
                                                span 3 часа
                                                span
                                                    strong 1000 руб.
                                            .justifyed
                                                span 4 часа
                                                span
                                                    strong 1000 руб.

                                        .label-bottom
                                            .justifyed
                                                span Комплект:
                                                span
                                                    strong Шлем+Пульты
                                            .justifyed
                                                span Игры:
                                                span
                                                    strong Для шлема

                                    input(type="radio" name="equipment" value="пространство").hidden-block.js--change-eq
                                    .psevdocheckbox

                .tabs--content
                    .scroll-wrap.scrollbar
                        .index-booking-params
                            h2 Выберите время
                                i  и количество игроков

                            .justifyed.grid
                                .params-date-wrap
                                    .params-date
                                        div(data-action="../js/ajax/load-team.php" data-method="post").calendar-wrap
                                            .calendar.grid-item.calendar-date
                                                span.prev 01
                                                span.current 02
                                                span.next 03

                                            .calendar.grid-item.calendar-month
                                                span.prev сентябрь
                                                span.current октябрь
                                                span.next ноябрь

                                            .calendar.grid-item.calendar-year
                                                span.prev 2018
                                                span.current 2018
                                                span.next 2019

                                            <!-- НЕ СТАВИТЬ в name значетие date, иначе при фокусе появляется выпадающий список с вариантами -->
                                            <!-- Если data-min="true", то можно выбрать только даты от текущего дня и дальше -->
                                            <!-- data-max - это доступный период бронирования в днях -->
                                            <!-- При таких устаовках минимальная дата выбора - сегодня, максимальная + 2 недели -->
                                            input(type="text" name="dat" readonly data-min="true" data-max="14" data-action="../js/ajax/load-team.php" value="05.08.2018" data-method="post").inp-date.js--inp-date.js--load-life

                                            .inp-date-mobile-overlay


                                div.time-wrap.tabs-inner
                                    .fa.fa-block


                                    ul.tabs-inner--caption
                                        li утро
                                        li.active день
                                        li вечер

                                    .time-list

                                        .tabs-inner--content.grid
                                            label.label-checkbox.grid-item
                                                input(type="checkbox" name="" data-price="300" value="10(МСК)").js--change-time.required
                                                span 10:00

                                            label.label-checkbox.grid-item
                                                input(type="checkbox" name="" data-price="300" value="10:30(МСК)").js--change-time.required
                                                span 10:30

                                            label.label-checkbox.grid-item
                                                input(type="checkbox" name="" data-price="300" value="11:00(МСК)").js--change-time.required
                                                span 11:30

                                            label.label-checkbox.grid-item
                                                input(type="checkbox" name="" data-price="300" value="11:30(МСК)").js--change-time.required
                                                span 11:30

                                        .tabs-inner--content.grid.active
                                            label.label-checkbox.grid-item
                                                input(type="checkbox" name="" data-price="500" value="12:00(МСК)").js--change-time.required
                                                span 12:00

                                            label.label-checkbox.grid-item
                                                input(type="checkbox" name="" data-price="500").js--change-time.required
                                                span 12:30
                                            label.label-checkbox.grid-item
                                                input(type="checkbox" name="" data-price="500").js--change-time.required
                                                span 13:00

                                            label.label-checkbox.grid-item
                                                input(type="checkbox" name="" data-price="500").js--change-time.required
                                                span 13:30
                                            label.label-checkbox.grid-item
                                                input(type="checkbox" name="" data-price="500").js--change-time.required
                                                span 14:00

                                            label.label-checkbox.grid-item
                                                input(type="checkbox" name="" data-price="500").js--change-time.required
                                                span 14:30
                                            label.label-checkbox.grid-item
                                                input(type="checkbox" name="" data-price="500").js--change-time.required
                                                span 15:00

                                            label.label-checkbox.grid-item
                                                input(type="checkbox" name="" data-price="500").js--change-time.required
                                                span 15:30
                                            label.label-checkbox.grid-item
                                                input(type="checkbox" name="" data-price="500").js--change-time.required
                                                span 16:00

                                            label.label-checkbox.grid-item
                                                input(type="checkbox" name="" data-price="500").js--change-time.required
                                                span 16:30
                                            label.label-checkbox.grid-item
                                                input(type="checkbox" name="" data-price="500").js--change-time.required
                                                span 17:00

                                            label.label-checkbox.grid-item
                                                input(type="checkbox" name="" data-price="500").js--change-time.required
                                                span 17:30

                                        .tabs-inner--content.grid
                                            label.label-checkbox.grid-item
                                                input(type="checkbox" name="" data-price="200").js--change-time.required
                                                span 18:00

                                            label.label-checkbox.grid-item
                                                input(type="checkbox" name="" data-price="200").js--change-time.required
                                                span 18:30

                                            label.label-checkbox.grid-item
                                                input(type="checkbox" name="" data-price="200").js--change-time.required
                                                span 18:00

                                            label.label-checkbox.grid-item
                                                input(type="checkbox" name="" data-price="200").js--change-time.required
                                                span 18:30

                                            label.label-checkbox.grid-item
                                                input(type="checkbox" name="" data-price="200").js--change-time.required
                                                span 18:00

                                            label.label-checkbox.grid-item
                                                input(type="checkbox" name="" data-price="200").js--change-time.required
                                                span 18:30

                                            label.label-checkbox.grid-item
                                                input(type="checkbox" name="" data-price="200").js--change-time.required
                                                span 18:00

                                            label.label-checkbox.grid-item
                                                input(type="checkbox" name="" data-price="200").js--change-time.required
                                                span 18:30

                                            label.label-checkbox.grid-item
                                                input(type="checkbox" name="" data-price="200").js--change-time.required
                                                span 18:00

                                            label.label-checkbox.grid-item
                                                input(type="checkbox" name="" data-price="200").js--change-time.required
                                                span 18:30

                                    .time-total.justifyed
                                        span.time-total-min 0 мин
                                        span.time-total-val 0 руб

                                .params-members
                                    //div(id="slider" data-min="1" data-max="6").slider-vertical
                                    div(id="slider" data-min="1" data-max="6").slider-vertical
                                    input(name="members").inp-members
                                    ul.members-list
                                        li.active.js--change-members 1
                                        li.js--change-members   2
                                        li.js--change-members    3
                                        li.js--change-members     4
                                        li.js--change-members      5
                                        li.js--change-members      6

                .tabs--content
                    .scroll-wrap.scrollbar
                        .index-booking-info
                            h2 Введите
                                i свои данные

                            .justifyed
                                input(type="text" name="name" placeholder="Имя").inp.inp-name.required
                                input(type="text" name="phone" placeholder="+7 (---) --- -- --").inp.inp-phone.required

                            span.fs20.text-center Ваши данные необходимы
                                i для подтверждения бронирования.

                .tabs--content
                    .scroll-wrap.scrollbar
                        .index-booking-finish
                            h2
                                i.name Пожалуйста,
                                i проверьте данные

                            .justifyed
                                .one-half
                                    ul.finish-data
                                        li.justifyed
                                            span Телефон:
                                            span.val.val-phone
                                                strong

                                        li.justifyed
                                            span Дата:
                                            span.val.val-date
                                                strong сегодня

                                        li.justifyed
                                            span Время:
                                            span.val.val-time
                                                strong

                                        li.justifyed
                                            span Оборудование
                                            span.val.val-eq
                                                strong VR шлем

                                        li.justifyed
                                            span Игроки:
                                            span.val.val-members
                                                strong 1

                                        li.justifyed
                                            span Длительность:
                                            span.val.val-durability
                                                strong 0 мин

                                .one-half
                                    ul.finish-data.mobile-border
                                        li.justifyed
                                            span Цена:
                                            span.val.val-price
                                                strong 0 руб

                                        li.justifyed
                                            span Скидка:
                                            span.val.val-discount
                                                strong 0 руб

                                        li.justifyed
                                            span.red На оплату
                                            span.val.val-total.red
                                                strong 0 руб

                                    .fihish-discount.justifyed
                                        input(type="text" name="discount" placeholder="Промо-код" data-discount="0" data-action="../js/ajax/check-discount.php" data-method="post").inp.inp-discount.js--check-discount

                                        select(name="payment").js--select-styled.js--payment
                                            option(value="" selected disable) Способ оплаты
                                            option(value="") Банковская карта
                                            option(value="") Битокины


            .index-booking-btns.one-btn
                a(href="").btn.btn-white-border.js--prev.hidden-block назад
                a(href="").btn.btn-red.js--next далее
                a(href="").btn.btn-red.js--form-submit.hidden-block к оплате