block vars

header(id="nav").header.header-games
    a(href="").header-logo
        img(src="../img/logo.svg" alt /)

    a(href="#nav").header-hamburger.js--open-block
        span

    nav.nav
        a(href="#nav").close-menu.js--close-block

        ul
            li
                span Главная
            li
                a(href="") цены
            li
                a(href="") игры
            li
                a(href="") сертификаты
            li
                a(href="") VR-Space
            li
                a(href="") VR-Life
            li
                a(href="") Контакты

    .header-games-icons
        a(href="#filter").icon-filter.js--open-block
            img(src="../img/icon--filter.svg" alt /)

        form(action="../js/ajax/search-game.html" method="post").search-form.main-form
            input(type="text" name="" placeholder="Поиск").inp.inp-search
            a(href="").icon-search.js--search-submit