block vars

header(id="nav").header
    .header-logo
        img(src="../img/logo.svg" alt /)

    a(href="#nav").header-hamburger.js--open-block
        span

    nav.nav
        a(href="#nav").close-menu.js--close-block

        ul
            li
                span Главная
            li
                a(href="") цены
            li
                a(href="") игры
            li
                a(href="") сертификаты
            li
                a(href="") VR-Space
            li
                a(href="") VR-Life
            li
                a(href="") Контакты