.form-item
    margin-bottom 17px
    position relative
    display block 

.form-lbl
    font-size 13px  
    color $cGrey 
    margin-bottom 3px 
    
.form-descr
    font-size 12px
    line-height 16px
    color #808080  
    padding-top 8px 
    
    &_error
        color #ff7f7f 