

.life
  width 100%
  height 100%
  position relative

  @media tablet
    height auto

  .life-overlay
    background url(../img/bg--life-top.png) no-repeat 50% 50%
    background-size cover

    @media tablet
      height 100%
      background url(../img/bg--life-top-mob.png) no-repeat 50% 50%
      background-size cover

  .life-table-wrap
    height 100%

    .life-slider
      position absolute
      left 0
      top 0
      right 0
      bottom 0
      z-index 0

      .owl-stage-outer
        height 100%

        .owl-stage
          height 100%

          .owl-item
            height 100%

            .life-slider--el
              height 100%
              background-size cover !important
              
              &.background1
                background url("../img/bg--life-change-1.jpg") no-repeat 50% 50%

                @media mobile
                  background url("../img/bg--life-change-mob-1.jpg") no-repeat 50% 50%

              &.background2
                background url("../img/bg--life-change-2.jpg") no-repeat 50% 50%

                @media mobile
                  background url("../img/bg--life-change-mob-2.jpg") no-repeat 50% 50%

              &.background3
                background url("../img/bg--life-change-3.jpg") no-repeat 50% 50%

                @media mobile
                  background url("../img/bg--life-change-mob-3.jpg") no-repeat 50% 50%

    .width-wrap
      position relative
      z-index 10
      width 970px
      overflow hidden
      padding 20vh 0 0
      margin 0 auto

      @media netbook
        padding 17vh 0 0

      @media tablet
        padding 20vh 0 0
        width auto
        margin 0 60px

      @media mobile
        position relative
        padding 19.5vh 0 0
        margin 0 25px

      h2
        @media tablet
          font-size 44px

        @media mobile
          font-size 24px
          margin-bottom 0

    .params-date
      display inline-flex
      align-items center
      align-content center
      position relative
      height 40px
      width 290px
      border-top 1px solid rgba(255,255,255,0.13)
      border-bottom  1px solid rgba(255,255,255,0.13)

      @media tablet
        margin-bottom 50px

      @media mobile
        position absolute
        top -70px
        right -25px
        width 250px
        height 20px
        margin-bottom 0

      @media mobile_s
        top -37px
        width 230px

      .inp-date
        position absolute
        z-index 10
        left 0
        top -40px
        width 100%
        height 120px
        opacity 0
        caret-color transparent

    .calendar-wrap
      display inline-block
      vertical-align top
      width 290px
      position relative

      @media mobile
        width 250px

    .calendar
      display inline-block
      vertical-align top
      width 32%
      height 120px
      overflow hidden

      @media mobile
        height 60px

      span
        display block
        height 41px
        text-align center
        line-height 38px
        color $cGray
        font-size 18px

        @media mobile
          font-size 10px
          height 21px
          line-height 20px

        &.current
          color $cWhite
          font-size 24px

          @media mobile
            font-size 13px

  &-title
    height 11vh
    margin-bottom 7vh

    @media tablet
      margin-bottom 0

    @media mobile
      position relative

    h2
      @media mobile
        font-size 20px

  .team-list
    overflow-y scroll
    max-height 63vh
    margin-right -20px
    padding-right 20px
    padding-bottom 30px

    &.mCustomScrollbar
      -webkit-overflow-scrolling touch
      overflow-y auto
      margin-right 0
      padding-right 0

      .mCSB_inside>.mCSB_container
        margin-right 0

      .mCSB_scrollTools
        opacity 0

    @media netbook
      max-height 67vh

    @media tablet
      max-height 70vh

    @media mobile
      max-height 70vh

  .load-notification
    display block
    font-size 18px
    padding 10px 0

  &-table
    width 100%
    border-top 1px solid rgba(255,255,255,0.2)

    li
      width 100%
      align-items stretch
      align-content stretch

      &:last-child
        .life-table--row
          border none

      &.life-table-th
        .life-table--row
          span
            text-align center
            justify-content center
            text-transform uppercase
            font-size 20px
            font-family $fExo
            padding-left 0 !important

            @media mobile
              font-size 12px

      .life-table--row
        display inline-block
        vertical-align top
        border-bottom 1px solid rgba(255,255,255,0.2)

        &:nth-child(1)
          width 400px

          @media netbook
            width 300px

          @media tablet
            width 30%

        &:nth-child(2)
          width 230px

          @media netbook
            width 200px

          @media tablet
            width 20%

          span
            padding-left 20px

            @media mobile
              padding-left 0

        &:nth-child(3)
          width 180px

          @media netbook
            width 150px

          @media tablet
            width 20%

          span
            padding-left 30px

            @media mobile
              padding-left 0

        &:nth-child(4)
          width 130px

          @media tablet
            width 20%

          span
            justify-content center

        span
          display flex
          width 100%
          align-content center
          align-items center
          padding 10px 0 10px
          color $cWhite
          font-family $fPoiret
          font-size 16px
          border-bottom 1px solid rgba(255,255,255,0.1)

          @media mobile
            font-size 12px

          &:last-child
            border none

          &.full-height
            height 100%






