
.index
  &-promo
    height 100%
    background url("../img/bg--index-1.jpg") no-repeat 50% 50%
    background-size cover
    position relative
    z-index 0

    @media mobile
      background url("../img/bg--index-1-mob.jpg") no-repeat 50% 50%
      background-size cover
      text-align right

    .fp-tableCell
      display -webkit-box
      display flex
      align-items center
      justify-content center

    .width-wrap
      position relative
      padding  0 100px
      margin 0 auto
      text-align right

      @media tablet
        padding 0 60px
        width 100%

      @media mobile
        padding 0 25px

      h2
        margin-bottom 36px
        letter-spacing 5px
        text-align left

        @media mobile
          font-size 32px
          line-height 36px
          letter-spacing 3px

        @media mobile_s
          font-size 26px
          line-height 30px
          margin-bottom 5px

        &.decor
          &:after
            position absolute
            content ""
            left 0
            bottom -18px
            height 1px
            background $cRed
            opacity 0.35
            width 85px

            @media mobile_s
              display none

      span.title
        display block
        margin-bottom 14vh
        text-align left

        @media mobile
          margin-bottom 7vh

    .move
      position absolute
      right 0
      bottom 6vh
      width 270px
      border-bottom 1px solid $cRed
      padding-bottom 5px
      font-size 20px
      line-height 30px
      color $cWhite
      font-family $fPoiret
      padding-left 30px
      z-index 20

      @media tablet
        right 0
        width 144px
        border-bottom none
        border-left 1px solid $cRed
        height 12vh
        line-height 11.5vh
        text-align center
        padding 0
        font-size 22px
        bottom 0
        padding-right 20px

      @media mobile
        width 75px
        font-size 12px
        height 7vh
        line-height 6.5vh
        padding-right 10px

  &-about
    display inline-block
    vertical-align top
    text-align left
    width 500px
    margin-bottom 14vh

    @media tablet
      margin-left 0
      text-align right

    @media mobile
      text-align center
      margin-left 0
      width 100%
      margin-bottom 7vh

    @media mobile_s
      margin-bottom 2vh

    &.mobile
      display none

      @media mobile
        padding-left 50px
        display block

    &.desktop
      @media mobile
        display none

    li
      display inline-block
      vertical-align top
      color $cWhite
      font-size 16px
      line-height 24px
      font-family $fExo_el
      margin-right 50px
      margin-bottom 23px
      text-transform uppercase

      @media mobile
        display block
        text-align center
        padding  0
        width 100%
        margin 0 auto 1vh
        font-size 16px

      @media mobile_s
        margin 0

      &:nth-child(3)
        @media tablet
          margin-right 20px

        @media mobile
          padding-left 13px

        &:after
          @media tablet
            display block
            position relative
            content ""

      &:nth-child(4)
        margin-left 20px

        @media mobile
          margin-left 0

      &:nth-child(5)
        @media tablet
          margin-right 0

  &-links
    margin-bottom 10vh
    text-align left

    @media mobile
      margin-bottom 0

    .btn
      width 285px
      font-size 20px
      padding-left 0
      padding-right 0

      @media tablet
        width 240px
        display inline-block
        vertical-align top

      @media mobile
        width 100%
        display block

      @media mobile_s
        font-size 14px

  &-info
    .inner-content.inner-content-text
      background url("../img/bg--index-2.jpg") no-repeat 50% 50%
      background-size cover
      position relative
      z-index 0

      @media tablet
        background url("../img/bg--index-2-mob.jpg") no-repeat 50% 50%
        background-size cover

      .rect-parallax
        position absolute
        display flex
        align-items center
        align-content center
        width 100%
        height 100%
        top 50%
        left 50%
        transform translate(-30%, -50%)
        z-index 0

        @media mobile
          display none

        img
          @media tablet
            display none

        @media netbook
          transform translate(-70%, -50%)

      .width-wrap
        padding-top 27vh
        position relative
        z-index 10

        @media tablet
          padding-top 20vh

        @media mobile_s
          padding-top 12vh

        .scroll-content
          max-height 63vh

          @media tablet
            max-height 80vh

          .rectangles
            position relative
            height 9vh
            margin-left 664px
            display none

            @media tablet
              height 60px
              width 60px
              vertical-align top
              position absolute
              right 10vw
              top 20vh
              margin-left 0
              display block

            @media mobile
              top 5vh

            @media mobile_s
              display none

            .rect1
              position absolute
              width 53px
              height 53px
              background #e1dfdf
              left 190px

              @media tablet
                width 12px
                height 12px
                background $cPink
                top 0
                right 34px
                left auto

            .rect2
              position absolute
              width 33px
              height 33px
              background #bbb4b4
              left 295px
              top 30px

              @media tablet
                width 19px
                height 19px
                background $cPink
                right 0
                left auto
                top 2px

            .rect3
              position absolute
              width 25px
              height 25px
              background #726a69
              left 238px
              top 80px

              @media tablet
                width 32px
                height 32px
                background $cPink
                top 28px
                right 34px
                left auto

            .rect4
              display none
              position absolute

              @media tablet
                display block
                width 12px
                height 12px
                background $cPink
                right 11px
                top 36px

          h2
            font-size 64px
            margin-bottom 32px

            @media tablet
              font-size 48px
              line-height 48px

            @media mobile
              text-align center
              font-size 32px
              line-height 36px
              margin-bottom 20px

            @media mobile_s
              margin-bottom 10px

            &.decor
              &:after
                position absolute
                content ""
                left 0
                bottom -18px
                height 1px
                background rgba(255,255,255,0.13)
                width 85px

                @media mobile
                  left 50%
                  margin-left -42px
                  bottom -15px

          span.title
            display block
            margin-bottom 38px

            @media mobile
              text-align center
              margin-bottom 25px

            @media mobile_s
              margin-bottom 15px

          .content-text
            display block
            width 410px
            margin-left 420px
            position relative

            @media tablet
              margin-left 45%
              width 55%

            @media mobile
              margin-left 0
              width 100%

            .rect1
              position absolute
              width 16px
              height 16px
              background #9e8d8d
              right 27px
              top 14px

              @media tablet
                display none

            h3
              display block
              font-size 24px
              line-height 26px
              font-family $fExo
              position relative
              margin-bottom 13px
              color $cWhite
              text-transform uppercase
              font-weight normal

              @media mobile
                font-size 20px
                line-height 24px

.inner-popup
  &.index-demo
    .main-form
      width 100%

      &.width-wrap
        max-width 1200px

      .form-content
        h2
          margin-bottom 14vh

          @media mobile
            margin-bottom 4vh

          @media mobile_s
            margin-bottom 10px
            font-size 20px
            line-height 26px

        .form-input
          margin-bottom 14vh
          width 100%

          @media mobile
            margin-bottom 0

        .inp
          width 350px

          @media netbook
            width 305px

          @media tablet
            width 32%
            margin-left auto
            margin-right auto

          @media mobile
            font-size 16px
            width 100%
            display block
            margin-bottom 5vh

          @media mobile_s
            font-size 14px

          &:last-child
            @media mobile
              margin-bottom 0

    span.fs20
      display block
      text-align center

      @media mobile
        display none

.params-popup
  position absolute
  left 0
  top 0
  width 100%
  height 100%
  background rgba(24, 24, 24, 0.95)
  background $cBlack
  z-index 300
  display -webkit-box
  display flex
  align-items center
  align-content space-between
  justify-content space-between
  flex-direction column
  flex-wrap wrap
  padding 5vh 0
  transition all 0.4s ease-in-out
  transform translateX(-200%)
  overflow hidden

  @media mobile_s
    padding 5px

  &.open
    transform translateX(0)

  .popup-content
    text-align center

    span
      display block
      margin-bottom 5vh

      i
        @media mobile
          display inline

    .time
      display flex
      align-items center
      justify-content center
      width 570px
      height 240px
      border 1px solid $cGray

      @media mobile
        width 100%

      @media mobile_s
        width 100%
        height 150px


