#fp-nav
  display none

main
  height 100%

  .count-height-block
    position fixed
    left 0
    right 0
    top 0
    bottom 0
    z-index 0
    pointer-events none

  .fullpage
    transition all 1s ease-in-out !important
    transform translate3d(0px, 0px, 0px)

    &.hidden
      transform translate3d(0px, -100%, 0px) !important

    .section
      height 100%

      &.inner-overlay
        .width-wrap
          @media tablet
            height 100%
            display flex
            flex-flow column
            justify-content center

          .move
            position absolute
            right 0
            bottom 6vh
            width 270px
            border-bottom 1px solid $cRed
            padding-bottom 5px
            font-size 20px
            line-height 30px
            color $cWhite
            font-family $fPoiret
            padding-left 30px
            z-index 20

            &.move-space
              @media mobile
                width 105px

            @media tablet
              right 0
              width 144px
              border-bottom none
              border-left 1px solid $cRed
              height 12vh
              line-height 11.5vh
              text-align center
              padding 0
              font-size 22px
              bottom 0
              padding-right 20px

            @media mobile
              width 75px
              font-size 12px
              height 10vh
              line-height 9.5vh
              padding-right 10px


      .fp-tableCell
        height 100%

        .inner-content
          height 100%
          position relative

          .width-wrap
            height 100%
            display flex
            align-items flex-start
            align-content flex-start
            justify-content center
            flex-flow column
            padding 0 100px

            @media tablet
              padding 0

            h2
              font-size 64px
              margin-bottom 32px

              @media tablet
                font-size 60px
                line-height 70px
                margin-bottom 50px
                letter-spacing 7px

              @media mobile
                font-size 32px
                line-height 36px
                margin-bottom 25px
                letter-spacing 3px

              &.decor
                &:after
                  position absolute
                  content ""
                  left 0
                  bottom -18px
                  height 1px
                  background $cRed
                  opacity 0.35
                  width 85px

                  @media tablet
                    bottom -26px

                  @media mobile
                    bottom -11px
                    width 50px

            span.title
              display block
              margin-bottom 38px
              font-size 24px
              line-height 25px

              @media tablet
                letter-spacing 1px

              @media mobile
                font-size 13px
                line-height 16px

              i
                display inline

                @media tablet
                  display block

          .move
            position absolute
            right 0
            bottom 6vh
            width 270px
            border-bottom 1px solid $cRed
            padding-bottom 5px
            font-size 20px
            line-height 30px
            color $cWhite
            font-family $fPoiret
            padding-left 30px
            z-index 20

            &.move-space
              @media tablet
                width 160px
              @media mobile
                width 105px

            @media tablet
              right 0
              width 144px
              border-bottom none
              border-left 1px solid $cRed
              height 12vh
              line-height 11.5vh
              text-align center
              padding 0
              font-size 22px
              bottom 0
              padding-right 20px

            @media mobile
              width 75px
              font-size 12px
              height 7vh
              line-height 6.5vh
              padding-right 10px

      &.no-events
        transform translateX(-150%)

  .slide-content
    position relative
    z-index 10

  .fixed-content
    position fixed
    z-index 0
    left 0
    top 0
    right 0
    bottom 0

    &.disabled
      pointer-events none

      &:after
        content ""
        position absolute
        z-index 1
        left 0
        top 0
        right 0
        bottom 0

    &.js--set-height
      @media tablet
        position relative
        top auto
        bottom auto

  .tabs
    position relative
    height 100%

    .tabs--caption
      position absolute
      right 0
      top 10vh
      z-index 30

      @media netbook
        top 5.5vh

      li
        display inline-block
        vertical-align top
        width 140px
        text-align center
        font-size 20px
        line-height 37px
        border-bottom 1px solid $cWhite
        transition all 0.1s ease-in-out
        cursor pointer

        @media mobile
          width 90px
          font-size 14px
          line-height 24px

        &:hover
          color $cRed
          border-bottom 1px solid $cRed

        &:active
          color $cRed_active
          border-bottom 1px solid $cRed_active

        &.active
          cursor default
          color $cRed
          border-bottom 1px solid $cRed

    .tabs--content
      position absolute
      height 100%
      transform translateX(-200%)
      left 0
      width 100%

      &.active
        position relative
        transform translateX(0)

  .inner-slider.owl-carousel.disabled
    pointer-events none

  .inner-slider.owl-carousel
    height 100%
    position relative

    .owl-dots
      position absolute
      right 50%
      margin-right -590px
      top 40%
      z-index 40

      @media netbook
        margin-right -480px

      @media tablet
        margin-right 0
        left 60px
        right 60px
        top auto
        bottom 20px
        text-align center

      @media mobile
        left 0
        right 0
        bottom 4vh
        top auto
        text-align center

      @media mobile_s
        bottom 0

      .owl-dot
        display block
        margin-bottom 3vh
        position relative
        width 70px
        text-align right
        color rgba(255,255,255,1)
        cursor pointer

        span
          display inline-block
          vertical-align top
          font-family $fPoiret
          font-size 20px
          line-height 20px
          width 20px
          text-align center
          transition all 0.1s ease-in-out

          @media tablet
            display none

        @media tablet
          display inline-block
          vertical-align top
          width 45px
          font-size 0
          margin 0 8px
          height 20px

        @media mobile
          display inline-block
          vertical-align top
          width 30px
          font-size 0
          margin 0 5px
          height 2vh

        &:before
          position absolute
          content ""
          width 30px
          height 1px
          background $cWhite
          left 0
          top 50%
          transition all 0.1s ease-in-out

          @media tablet
            width auto
            left 0
            right 0

        &:hover
          color $cRed
          span
            color $cRed
          &:before
            background $cRed

        &:active
          color $cRed_active
          span
            color $cRed_active
          &:before
            background $cRed_active

        &.active
          color $cRed
          span
            color $cRed
          &:before
            background $cRed

    .owl-stage-outer
      height 100%

      .owl-stage
        height 100%

        .owl-item
          height 100%

          .inner-slider--el
            height 100%

  .inner-content
    height 100%
    width 100%

    &.inner-content-text
      background url("../img/bg--inner-text-mobile.jpg") 50% 50% no-repeat
      background-size cover

      @media tablet
        background url("../img/bg--inner-text-mobile.jpg") 50% 50% no-repeat
        background-size cover

    .mobile-slider
      height 100%
      position relative
      width 100%
      overflow hidden

      .owl-dots
        position absolute
        left 0
        right 0
        bottom 6vh
        top auto
        text-align center

        .owl-dot
          position relative
          text-align right
          color rgba(255,255,255,1)
          cursor pointer
          display inline-block
          vertical-align top
          width 30px
          font-size 0
          margin 0 5px
          height 2vh

          &:before
            position absolute
            content ""
            width 30px
            height 1px
            background rgba(255,255,255,1)
            left 0
            top 50%

          &.active
            color $cRed

            &:before
              background $cRed

    .width-wrap
      height 100%
      padding 20vh 100px 0

      &.scroll-wrap
        padding-left 0
        padding-right 0
        width 900px
        overflow hidden
        margin 0 auto

        @media tablet
          width auto
          margin 0 60px

        @media mobile
          margin 0 25px

        @media mobile_s
          margin 0 15px

      @media tablet
        padding 20vh 0 0
        margin 0 60px

      @media mobile
        padding 19.5vh 0 0
        margin 0 25px

      @media mobile_s
        padding-top 85px
        margin 0 15px

      .scroll-content
        -webkit-overflow-scrolling touch
        overflow-y scroll
        height 95%
        margin-right -20px
        padding-right 20px
        padding-bottom 20px

        &.mCustomScrollbar
          -webkit-overflow-scrolling touch
          overflow-y auto
          height 100%
          margin-right 0
          padding-right 0

        .mCSB_inside>.mCSB_container
          margin-right 0

        .mCSB_scrollTools
          opacity 0

      h2
        font-size 48px
        margin-bottom 5vh

        @media mobile
          font-size 19px
          line-height 24px
          margin-bottom 3vh

        &.decor
          &:after
            position absolute
            content ""
            left 0
            bottom -2vh
            height 1px
            background rgba(255,255,255,0.13)
            width 200px

            @media tablet
              bottom -2vh

            @media mobile
              bottom -1.5vh

      .one-half
        width 470px
        margin-bottom 10vh

        @media tablet
          width 100%
          margin-bottom 5vh

        @media mobile
          width 100%
          margin-bottom 3vh

        p
          display block
          font-size 16px
          margin-bottom 4vh

          @media tablet
            padding-right 20%
          //  font-size 22px
          //  line-height 33px
          //  margin-bottom 2vh

          @media mobile
            padding-right 15%
            margin-bottom 2vh
            font-size 12px
            line-height 16px

          @media mobile_s
            padding-right 0

        .inner-table
          display block
          width 100%

          li
            width 100%
            padding 1.5vh 0

            @media tablet
              padding 1.6vh 0

            @media mobile
              padding 1.8vh 0

            @media mobile_s
              padding 1vh 0

            &.border
              border-bottom 1px solid rgba(255,255,255,0.13)

            span
              display inline-block
              vertical-align top
              font-family $fExo_el
              font-size 16px
              text-transform uppercase

              //@media tablet
              //  font-size 22px
              //  line-height 30px

              @media mobile
                font-size 12px
                line-height 16px

              strong
                font-family $fExo

      .btns-wrap
        text-align center
        white-space nowrap

        .btn
          display inline-block
          vertical-align top
          width 270px

          @media tablet
            width 50%
            //font-size 26px
            //line-height 32px
            //padding 20px 0

          @media mobile
            font-size 14px
            line-height 16px
            width 50%
            padding 10px 0

.inner-popup
  position fixed
  z-index 30
  left 0
  top 0
  right 0
  height 100%
  background #191818
  transition all 0.1s ease-in-out
  transform translateX(-150%)

  &.popup-booking
    z-index 50

  &.open
    transform translateX(0)

  .close-popup
    position absolute
    left 50%
    margin-left 560px
    top 5vh
    width 20px
    height 20px
    z-index 40

    @media netbook
      margin-left 450px

    @media tablet
      left auto
      margin-left 0
      right 5vh

    &:hover
      &:after,
      &:before
        background $cRed

    &:active
      &:after,
      &:before
        background $cRed_d

    &:after,
    &:before
      position absolute
      content ""
      width 30px
      height 1px
      background $cWhite
      top 0
      transition all 0.1s ease-in-out

      @media mobile
        width 20px

    &:after
      top 10px
      left 0
      transform rotate(45deg)

    &:before
      top 10px
      left 0
      transform rotate(-45deg)

  .main-form
    height 100%
    padding 5vh
    display flex
    flex-flow column
    justify-content space-between
    align-content center
    align-items center

    .form-content
      display block
      width 100%
      min-height 55vh

      h2
        text-align left
        margin-bottom 5vh

        @media mobile
          font-size 26px
          line-height 30px

        @media mobile_s
          font-size 20px
          line-height 26px
          margin-bottom 2vh

      .inputs
        display block
        width 570px
        margin 0 auto

        @media mobile
          width 100%

        .justifyed
          margin-bottom 30px

          .inp
            width 270px

      textarea.inp
        width 100%
        display block
        border 1px solid rgba(255,255,255,0.13)
        padding 10px
        resize none
        height 30vh
        text-align left

        @media mobile
          height 18vh

        &::placeholder
          text-align left