.inp
  box-sizing border-box
  background transparent
  box-shadow none
  outline none
  height 48px
  display block
  font-size 20px
  font-family $fPoiret
  color $cWhite
  border-bottom 1px solid $cGray
  border-radius 0
  -webkit-appearance none
  text-align center

  @media mobile_s
    height 30px
    font-size 14px

  &::placeholder
    text-align center
    opacity 1
    font-size 20px
    color $cWhite
    font-family $fPoiret
    transition all 0.1s ease-in-out

    @media mobile_s
      font-size 14px

  &:hover
    border-bottom 1px solid rgba(149,46,38,0.37)

  &:active
    color rgba(149,46,38,0.37)
    border-bottom 1px solid rgba(149,46,38,0.37)

  &:focus
    border-bottom 1px solid $cRed

    &::placeholder
      opacity 0

  &.error
    border-bottom 1px solid rgba(149,46,38,0.37) !important

  &:disabled
    color #2e2e2e
    border-bottom 1px solid #2e2e2e

    &::placeholder
      color #2e2e2e