.games
  width 100%
  height 100%
  position relative

  &.show-center
    display -webkit-box
    display flex
    align-content center
    align-items center

    .games-slider
      width 100%
      white-space nowrap

      .games-slider--el
        @media tabet
          width 33.4%

        @media mobile
          width 100%

  &:before
    position fixed
    content ""
    left 0
    right 0
    top 0
    height 20vh
    background linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,0,0,0))
    z-index 15
    pointer-events none
    opacity 1

    @media mobile_s
      background linear-gradient(to bottom, rgba(0,0,0,0.95), rgba(0,0,0,0.05))

  &.desktop
    @media tablet
      overflow-y hidden

    .games-slider
      .games-slider--el
        @media tablet
          padding 5px

        .game-content
          @media tablet
            padding 0 5px

          .game-content--age
            @media tablet
              font-size 22px
              margin-right 5px

          .circle-border
            @media tablet
              zoom 0.5

  @media tablet
    overflow-y scroll

  .filter-error
    width 100%
    height 100vh
    display flex
    align-content center
    align-items center

    .width-wrap
      width 100%
      text-align center

      p
        font-size 18px

  .position-slider-container
    position absolute
    left 50%
    bottom 0
    transform translateX(-50%)
    background rgba(24,24,24,0.37)
    height 14px
    overflow hidden
    transition all 0.1s ease-in-out
    z-index 5
    box-shadow  0 0 100px rgba(0,0,0,0)

    @media tablet_s
      display none

    @media mobile
      height 55px

    &.open
      height 55px
      background rgba(24,24,24,0.95)
      box-shadow  0 0 100px rgba(0,0,0,0.60)

      .open-panel
        &:after
          transform rotate(135deg)
          top -1px

          @media tablet
            right 2px

          @media mobile
            right -1px

    .open-panel
      position absolute
      content ""
      height  15px
      background $cRed
      top 0
      left 0
      right 0
      z-index 0
      box-shadow 2px 0 5px rgba(0,0,0,0.5)
      cursor pointer

      @media tablet
        height 20px

      @media mobile
        height 15px

      &:after
        position absolute
        content ""
        width 9px
        height 9px
        border-top 1px solid $cWhite
        border-right 1px solid $cWhite
        border-bottom 1px solid transparent
        bordet-left 1px solid transparent
        transform rotate(-45deg)
        top 5px
        left 50%
        transition all 0.1s ease-in-out
        z-index 10
        margin-left -6px

        @media tablet
          right 8px

        @media mobile
          right 5px

    .position-slider
      height  55px
      width  270px
      z-index 45
      padding-top 14px

      @media tablet_s
        display none

      &--el
        display inline-block
        vertical-align top
        color $cWhite
        font-size 14px
        line-height 46px
        text-align center
        width  90px
        height 40px
        font-family $fPoiret
        transition all 0.1s ease-in-out

        &.active
          color $cRed
          font-size 20px

  .games-arrows
    .arrow-right
      right 10px
      border-width: 20px 0 20px 20px
      border-color: transparent transparent transparent #fff;
      position: fixed;
      z-index: 4;
      bottom 6px
      cursor: pointer;
      width: 0;
      height: 0;
      border-style: solid;
      margin-top: -38px;
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);

    .arrow-left
      left 10px
      border-width: 20px 20px 20px 0
      border-color: transparent #fff transparent transparent ;
      position: fixed;
      z-index: 4;
      bottom 6px
      cursor: pointer;
      width: 0;
      height: 0;
      border-style: solid;
      margin-top: -38px;
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);

  .games-slider-container
    width 100%
    height 100%
    white-space nowrap
    position relative
    margin 0 auto
    display block

    &.show-center
      display -webkit-block
      display flex
      align-items center
      align-content center

  .games-slider
    width 100%
    height 100%
    white-space nowrap
    position relative
    margin 0 auto
    list-style none
    font-size 0
    line-height 0
    letter-spacing -1px

    @media tablet_s
      width 100%
      z-index 10
      height auto

    &.owl-carousel
      width 33.3%

      @media tablet_s
        height 100%

      .games-slider--el
        @media tablet_s
          display -webkit-box
          display flex

        .game-content-wrap
          @media tablet_s
            height 60vh

    .owl-stage-outer
      width 100vw !important
      transform translateX(-50%)
      margin-left 16.6vw
      background rgba(23,23,23,0.8)
      height 100%

      .owl-stage
        margin-left 5vw
        height 100%

        .owl-item
          height 100%

          .games-slider--el
            width 100%

            @media tablet
              height 100%




    //.owl-dots
    //  position absolute
    //  left 50%
    //  top 40px
    //  transform translateX(-50%)
    //  z-index 40
    //
    //  .owl-dot
    //    display inline-block
    //    vertical-align top
    //    width 10px
    //    height 10px
    //    margin 0 5px
    //    background $cWhite
    //
    //    &.active
    //      background $cRed

    &--el
      display inline-block
      vertical-align top
      width 33.4%
      height 100%
      position relative
      white-space normal
      background-position 50% 50% !important
      background-size cover !important
      line-height normal
      letter-spacing normal
      zoom 1

      @media tablet
        display block
        width 100%
        height auto
        padding 20px

      @media mobile
        padding 10px

      &:after
        position absolute
        content ""
        left 0
        top 0
        right 0
        bottom 0
        background rgba(23,23,23,0.6)
        z-index 1

      &.visible
      //&:hover
        .game-number
          opacity 0

        .game-content--top
          height 130px
          opacity 1

        .game-content--middle
          height 165px
          opacity 1

        .game-content--btns
          display block

        .game-content--bottom
          height 90px
          opacity 1

      .game-number
        position absolute
        left 50%
        top 0
        transform translateX(-50%)
        background $cRed
        font-size 14px
        line-height 34px
        width 35px
        height 35px
        text-align center
        z-index 10
        display block
        transition all 0.1s ease-in-out
        opacity 1

        @media tablet_ex
          display block

        @media tablet_s
          display none

      .game-content
        height 100%
        display -webkit-box
        display flex
        align-items center
        align-content center
        position relative
        padding 0 25px
        z-index 10

        @media tablet_s
          height auto
          padding 0

        .slide-wrap
          display none

          @media tablet_ex
            display block

        &-wrap
          display -webkit-box
          display flex
          flex-flow column
          justify-content center
          height 100%
          width 100%

          @media tablet
            margin-bottom 0
            height auto

          @media mobile
            padding-top 0

        &--top
          display flex
          justify-content flex-end
          align-content center
          align-items center
          text-align right
          margin-bottom 4vh
          transform all 0.2s ease-in-out

          @media netbook
            margin-bottom 2vh

          @media tablet_s
            display flex
            width 100%
            position static

        &--middle
          margin-bottom 4vh
          padding-left 125px
          display flex
          transition all 0.1s ease-in-out
          flex-flow nowrap

          @media netbook
            padding-left 120px

          @media tablet_ex
            padding-left 90px

          @media tablet_s
            display none !important

        &--bottom
          display block
          transition all 0.1s ease-in-out

          @media tablet
            margin-bottom 3vh

          @media tablet_s
            display flex !important
            justify-content space-between

          @media mobile
            margin-bottom 10px

        &--age
          display inline-block
          vertical-align top
          font-size 32px
          font-family $fExo_el
          margin-right 20px
          color $cWhite

          @media tablet_ex
            margin-right 10px

          @media tablet_s
            position absolute
            top 30px
            right 30px
            margin-right 0

          @media mobile
            top 13px
            right 10px
            font-size 20px
            line-height 20px

        &--tags
          display inline-block
          vertical-align top
          padding 5px 0 5px 20px
          width 70%
          border-left 1px solid rgba(255,255,255,0.13)
          text-align left

          @media tablet_ex
            width 80%

          @media tablet_s
            left 40px
            right 40px
            bottom 20px
            text-align center
            width auto
            padding 0

          @media tablet
            border none

          @media mobile
            bottom 5px
            left 10px
            right 10px
            width auto

          li
            display inline
            vertical-align top
            margin-right 10px
            font-size 14px
            line-height 18px

            @media tablet_s
              margin 0 5px 5px

            @media mobile
              font-size 10px
              line-height 12px

        &-name
          text-align center
          margin-bottom 4vh
          min-height 112px

          @media netbook
            margin-bottom 4vh

          @media tablet_ex
            font-size 34px
            line-height 36px
            min-height 72px

          @media tablet
            min-height 10px

          @media mobile
            font-size 20px
            line-height 24px
            min-height 10px
            margin 0 30px 20px

        &--rating
          display inline-block
          vertical-align top
          width 105px
          margin-left -105px

          @media netbook
            width 120px
            margin-left -120px

          @media tablet_ex
            width 90px
            margin-left -90px

          .circle-border
            width 104px
            height 104px
            border-radius 105px
            border 1px solid rgba(255,255,255,0.13)
            margin-bottom 15px

            @media netbook
              margin-bottom 10px
              zoom 0.8
              transform translateX(25%)

            @media tablet_ex
              zoom 0.6

            svg
              width 104px
              height 104px
              border-radius 105px
              margin -1px

              path
                fill none
                stroke-width 3px
                stroke $cRed

              text
                stroke $cWhite
                color $cWhite
                font-size 36px
                line-height 105px
                font-family $fExo_el

          .justifyed
            border-top 1px solid rgba(255,255,255,0.13)
            padding-top 5px

            span
              font-family $fExo_el
              font-size 14px
              display inline-block
              vertical-align top

              &.strong
                font-family $fExo

              .icon-player
                display inline-block
                vertical-align top
                margin-left 5px
                width 10px
                margin-top 5px

        &--about
          display inline-block
          vertical-align top
          width 90%

          p
            display block
            font-family $fExo
            font-size 16px
            line-height 18px

            @media netbook
              font-size 14px
              line-height 16px

        &--params
          padding 0 20px

          @media netbook
            padding 0

          @media tablet_s
            display inline-block
            vertical-align top
            width 48%
            padding-left 40px
            flex-flow wrap
            white-space normal
            padding-top 30px
            position relative

          @media mobile
            padding-left 10px
            padding-top 15px

          li
            display inline-block
            vertical-align top

            @media tablet
              text-align left
              white-space nowrap
              width 33.3%

            @media mobile
              max-width 48%
              padding-left 20px
              margin-right 20px

            &:nth-child(2)
              @media tablet_s
                position absolute
                left 40px
                top 0
                width 100%

              @media mobile
                left 10px
                top -3px

            .icon
              display block
              margin 0 auto 20px
              width 42px

              @media tablet_ex
                width 30px
                margin 0 auto 10px

              @media tablet_s
                display inline-block
                width 15px
                margin-left -20px
                margin-top 4px
                margin-right 10px

              @media mobile
                margin-right 5px
                width 15px

            span
              display block
              text-align center
              text-transform uppercase
              font-size 16px
              font-family $fExo

              @media netbook
                font-size 14px

              @media tablet
                font-size 12px
                white-space normal

              @media tablet_s
                display inline-block
                vertical-align top
                width 95%
                white-space nowrap
                text-align left

              @media mobile
                font-size 12px

        &--btns
          position absolute
          left 25px
          right 25px
          bottom 40px
          white-space nowrap
          z-index 10
          display none

          @media netbook
            bottom 50px

          @media tablet_ex
            display block

          @media tablet
            display block

          @media tablet_s
            position relative
            width 48%
            left auto
            right 40px
            bottom auto
            display inline-block
            vertical-align top

          @media mobile
            right 10px

          .btn
            display inline-block
            vertical-align top
            width 50%
            padding-left 0
            padding-right 0
            text-align center

            @media mobile
              font-size 14px
              height 30px
              padding 0
              line-height 30px

